<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>ادارة الرئيسية</title>

<link href="css1/bootstrap.min1.css" rel="stylesheet">
 <link href="css1/bootstrap-rtl.min.css" rel="stylesheet">
<link href="font-awesome/css/font-awesome.css" rel="stylesheet">
<link href="css1/animate1.css" rel="stylesheet">
<link href="css1/plugins/dropzone/basic.css" rel="stylesheet">
<link href="css1/plugins/dropzone/dropzone.css" rel="stylesheet">
<link href="css1/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">
<link href="css1/plugins/codemirror/codemirror.css" rel="stylesheet">
<link href="css1/style1.css" rel="stylesheet">
<style>
 .disactivated{
   filter: blur(3px);
 }
 .newsDisactive{
 text-decoration: line-through;
 color:#dc3545;
 }
 .alert-danger{
 height: 40px;
 align-content: center;
 }
</style>
</head>

<body class="rtls">

	<div id="wrapper">

	<nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <img alt="image" class="rounded-circle" src="img1/fmj.jpg"/>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="block m-t-xs font-bold">FMJ</span>
                                <span class="text-muted text-xs block">fondation <b class="caret"></b></span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a class="dropdown-item" href="#">Profile</a></li>
                                <li><a class="dropdown-item" href="#">Contacts</a></li>
                                <li><a class="dropdown-item" th:href="@{/mailbox}">Mailbox</a></li>
                                <li class="dropdown-divider"></li>
                                <li><a class="dropdown-item" th:href="@{/home.html}">Logout</a></li>
                            </ul>
                        </div>
                        <div class="logo-element">
                            FMJ
                        </div>
                    </li>
                    <li class="active">
                        <a th:href="@{/index}" href="" class="active"><i class="fa fa-home"></i> <span class="nav-label">الرئيسية</span></a>
                    </li>
                    <li class=" ">
                        <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">الخدمات</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li class=" "><a th:href="@{/hebergementAdmin}">السكن</a></li>
                            <li><a href="#" >الصحة</a></li>
                            <li><a th:href="@{/transportAdmin}">النقل</a></li>
							<li><a href="#">القروض </a></li>
							<li><a href="#">المنح</a></li>
							<li><a href="#"> العمرة</a></li>
                            <li><a href="#" >التأمين</a></li>
                            <li><a href="#" >الإصطياف</a></li>
                            <li><a href="#" >الترفيه</a></li>
                        </ul>
                    </li>
                    
                     <li class=" ">
                        <a href="#"><i class="fa fa-building"></i>  <span class="nav-label">المؤسسة</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li class=" "><a href="#">النشأة</a></li>
                            <li><a href="#" >المهام</a></li>
                            <li><a href="#">الأهداف والقيم</a></li>
							<li><a href="#">شركاءنا</a></li>
                        </ul>
                    </li>
                      <li class=" ">
                        <a href="#"><i class="fa fa-briefcase"></i><span class="nav-label">الإدارة</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li class=" "><a href="#">كلمة المدير العام</a></li>
                            <li><a href="#" >النصوص القانونية</a></li>
                            <li><a href="#"> الهياكل التنظيمية</a></li>
                        </ul>
                    </li>
                    
                     <li class=" ">
                        <a href="#"><i class="fa fa-sitemap"></i><span class="nav-label">الفروع</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li class=" "><a href="#"> المدن </a></li>
                            
                        </ul>
                    </li>
                    
                    <li class=" ">
                        <a href="#"><i class="fa fa-archive"></i><span class="nav-label">البيانات</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li class=" "><a href="#"> الصحافة</a></li>
                            <li><a th:href="@{/galleryAdmin}"> معرض الصور</a></li>
                        </ul>
                    </li>
                    
                    <li>
                        <a th:href="@{/videoAdmin}" ><i class="fa fa-camera"></i><span class="nav-label">فيديوهات</span></a>
                    </li>
                    
                    <li class=" ">
                        <a href="#"><i class="fa fa-paper-plane"></i><span class="nav-label">المنشورات</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li class=" "><a th:href="@{/publicationAdmin}">طلبات العروض</a></li>
                            <li><a th:href="@{/manachirAdmin}" >مناشير</a></li>
                            <li><a th:href="@{/publication3Admin}">إعلانات</a></li>
							<li><a href="#">تساؤلات</a></li>
							<li><a th:th="@{/mailbox}">شكاوي</a></li>
                        </ul>
                    </li>
                    <li class=" ">
                        <a href="#"><i class="fa fa-envelope"></i> <span class="nav-label">التواصل</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li class=" "><a th:href="@{/mailbox}"> الرسائل و الشكايات</a></li>
   
							<li><a th:th="@{/mail_compose}">ارسال رسالة</a></li>
                        </ul>
                    </li>
                  </ul>
            </div>
        </nav>

		<div id="page-wrapper" class="gray-bg">
			<div class="row border-bottom">
				<nav class="navbar navbar-static-top" role="navigation"
					style="margin-bottom: 0">
					<div class="navbar-header">
						<a class="navbar-minimalize minimalize-styl-2 btn btn-primary "
							href="#"><i class="fa fa-bars"></i> </a>
						<form role="search" class="navbar-form-custom"
							action="search_results.html">
							<div class="form-group">
								<input type="text" placeholder="ابحث عن شيء ما..."
									class="form-control" name="top-search" id="top-search">
							</div>
						</form>
					</div>
					<ul class="nav navbar-top-links navbar-right">
						<li><span class="m-r-sm text-muted welcome-message">مرحبا
								بكم</span></li>
						<li class="dropdown"><a class="dropdown-toggle count-info"
							data-toggle="dropdown" href="#"> <i class="fa fa-envelope"></i>
								<span class="label label-warning">16</span>
						</a>
							<ul class="dropdown-menu dropdown-messages">
								<li>
									<div class="dropdown-messages-box">
										<a class="dropdown-item float-left" href="profile.html"> <img
											alt="image" class="rounded-circle" src="img1/a7.jpg">
										</a>
										<div class="media-body">
											<small class="float-right">قبل 46 ساعة</small> <strong>Mike
												Loreipsum</strong> بدأ المتابعة <strong>Monica Smith</strong>. <br>
											<small class="text-muted">قبل 3 أيام في الساعة 7:58
												مساءً - 10.06.2014</small>
										</div>
									</div>
								</li>
								<li class="dropdown-divider"></li>
								<li>
									<div class="dropdown-messages-box">
										<a class="dropdown-item float-left" href="profile.html"> <img
											alt="image" class="rounded-circle" src="img1/a4.jpg">
										</a>
										<div class="media-body ">
											<small class="float-right text-navy">قبل 5 ساعات</small> <strong>Chris
												Johnatan Overtunk</strong>بدأ المتابعة<strong>Monica Smith</strong>.
											<br> <small class="text-muted">أمس 1:21 مساءً -
												11.06.2014</small>
										</div>
									</div>
								</li>
								<li class="dropdown-divider"></li>
								<li>
									<div class="dropdown-messages-box">
										<a class="dropdown-item float-left" href="profile.html"> <img
											alt="image" class="rounded-circle" src="img1/profile.jpg">
										</a>
										<div class="media-body ">
											<small class="float-right">قبل 23 ساعة</small> <strong>Monica
												Smith</strong> اعجب <strong>Kim Smith</strong>. <br> <small
												class="text-muted">قبل يومين الساعة 2:30 ص -
												11.06.2014</small>
										</div>
									</div>
								</li>
								<li class="dropdown-divider"></li>
								<li>
									<div class="text-center link-block">
										<a href="mailbox.html" class="dropdown-item"> <i
											class="fa fa-envelope"></i> <strong>قراءة جميع
												الرسائل</strong>
										</a>
									</div>
								</li>
							</ul></li>
						<li class="dropdown"><a class="dropdown-toggle count-info"
							data-toggle="dropdown" href="#"> <i class="fa fa-bell"></i> <span
								class="label label-primary">8</span>
						</a>
							<ul class="dropdown-menu dropdown-alerts">
								<li><a href="mailbox.html" class="dropdown-item">
										<div>
											<i class="fa fa-envelope fa-fw"></i> لديك 16 رسالة <span
												class="float-right text-muted small">منذ 4 دقيقة</span>
										</div>
								</a></li>
								<li class="dropdown-divider"></li>
								<li><a href="profile.html" class="dropdown-item">
										<div>
											<i class="fa fa-twitter fa-fw"></i> 3 متابعين جدد <span
												class="float-right text-muted small">قبل 12 دقيقة</span>
										</div>
								</a></li>
								<li class="dropdown-divider"></li>
								<li><a href="grid_options.html" class="dropdown-item">
										<div>
											<i class="fa fa-upload fa-fw"></i> تم إعادة تشغيل الخادم <span
												class="float-right text-muted small">منذ 4 دقيقة</span>
										</div>
								</a></li>
								<li class="dropdown-divider"></li>
								<li>
									<div class="text-center link-block">
										<a href="notifications.html" class="dropdown-item"> <strong>انظر
												جميع التنبيهات</strong> <i class="fa fa-angle-right"></i>
										</a>
									</div>
								</li>
							</ul></li>


						<li><a href="login.html"> <i class="fa fa-sign-out"></i>
								تسجيل خروج
						</a></li>
					</ul>

				</nav>
			</div>
			<div class="row wrapper border-bottom white-bg page-heading">
				<div class="col-lg-10">
					<h2>تحميل الملف</h2>
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="index.html">
								الرئيسية</a></li>
						<li class="breadcrumb-item"><a>نماذج</a></li>
						<li class="breadcrumb-item active"><strong>تحميل
								الملف</strong></li>
					</ol>
				</div>
				<div class="col-lg-2"></div>
			</div>
			<div class="wrapper wrapper-content animated fadeIn">
				<div class="row">
					<div class="col-lg-12">
						<div class="ibox ">
							<div class="ibox-title">
								<h5>مثال لمدخلات الملف</h5>
							</div>
							<div class="ibox-content">تتيح لك ميزة إدخال الملف من خلال
								Bootstrap و Jasny إنشاء ملف جذاب أو ملف إدخال صورة الحاجيات على
								أساس نمط Bootstrap. تمنحك مكتبة dropzone.js الإضافية خيار سحب
								ملفات السحب.</div>
						</div>
					</div>
				</div>
				<!-------------------------------Tab Panel----------------------------------->
				<div class="row m-t-lg">
					<div class="col-lg-12">
						<div class="tabs-container gray-bg">
							<ul class="nav nav-tabs nav-pills">
								<li><a class="nav-link nav-item active" data-toggle="tab"
									href="#tab-10"> شريط ممرر الصور </a></li>
								<li><a class="nav-link nav-item" data-toggle="tab" href="#tab-11">
								   شريط ممرر الأخبار </a></li>
								<li><a class="nav-link nav-item" data-toggle="tab"
									href="#tab-12"> صور خدمات المؤسسة</a></li>
							</ul>
							<div class="tab-content">
								<div id="tab-10" class="tab-pane active">
									<div class="panel-body">

										<div class="row">
											<div class="col-lg-12">
												<div class="ibox ">
													<div class="ibox-title">
														<h4 class="font-weight-bold text-center">حفظ صورة
															جديدة الخاصة بشريط التمرير إلى قاعدة البيانات</h4>

														<div class="ibox-content">
															<form action="/Admin/index/uploadImage" enctype="multipart/form-data"
																method="post">
																<div class="row">
																	<div class="col-6">
																		<p class="m-t-sm">اختيار ملف:</p>
																		<div class="custom-file">
																			<input id="logo" type="file" name="imagefile"
																				class="custom-file-input" /> <label for="logo"
																				class="custom-file-label">اختر ملف...</label>
																		</div>
																	</div>
																	<div class="col-6">
																		<div class="form-group ">
																			<p class="m-t-sm">وصف الصورة:</p>
																			<textarea name="imageDescriptoion" rows="1" cols="1"
																				class="form-control" placeholder="...">
                                                                           </textarea>
																		</div>
																	</div>
																</div>
																<div class="row">
																	<div class="col-2">
																		<p class="m-t-sm">تاريخ انتهاء الصلاحية:</p>
																	</div>
																	<div class="col-10">
																		<div class="form-group">
																			<input type="date" name="dateOfExpiration"
																				class="form-control" />
																		</div>
																	</div>
																</div>
																<div class="form-group mt-2"
																	style="margin-bottom: -30px;">
																	<button class="btn btn-info " type="submit">
																		<i class="fa fa-upload"></i>&nbsp;&nbsp;<span
																			class="bold">تحميل&nbsp;&nbsp;</span>
																	</button>
																</div>
															</form>
														</div>
													</div>
												</div>
												<hr>
												<!-- ------------------------Start Of ALL images ------------------------------------------- -->
												<div class="row">
													<div class="col-lg-6" th:each="img,stats : ${images}" th:id="*{'imgDelete'+{img.id}}"
													style="margin-bottom: -20px;">
														<div class="ibox">
															<div class="ibox-title">
																<h5>إدارة الصورة</h5>
																<div class="ibox-tools">
																	<a class="collapse-link"> <i
																		class="fa fa-chevron-up"></i>
																	</a> <a class="close-link"> <i class="fa fa-times"></i>
																	</a>
																</div>
															</div>
															<div class="ibox-content">

																<div class="row">
																	<div class="col-6">
																		<div class="card card-block">
																			<img alt="*{img.description}"
																				th:src="*{'data:image/jpeg;base64,'+{img.image}}"
																				th:class="${img.status} ? 'activated' : 'disactivated'"
																				th:id="*{'img'+{img.id}}" style="height: 230px;"
																				src="">
																		</div>
																	</div>
																	<div class="col-6">
																		<div class="card card-block">
																			<div class="list-group">
																				<h4 class="card-title text-center">تفاصيل
																					الصورة</h4>
																				<p class="list-group-item alert-success">
																					<strong>رقم: </strong><span>[[*{img.id}]]</span>
																				</p>
																				<p class="list-group-item alert-success">
																					<strong>الحالة: </strong><span
																						th:id="*{'status'+{img.id}}" class="further-info">[[*{img.status}]]</span>
																				</p>
																				<p class="list-group-item alert-success">
																					<strong>اسم الصورة:</strong> <span>[[*{img.imageName}]]</span>
																				</p>
																				<p class="list-group-item alert-success">
																					<strong>تاريخ الإدراج: </strong><span
																						th:id="*{'date'+{img.id}}">[[*{img.dateOfInsertion}]]</span>
																				</p>
																				<p class="list-group-item alert-success">
																					<strong>تاريخ انتهاء الصلاحية: </strong><span
																						th:id="*{'expiredate'+{img.id}}">[[*{img.dateOfExperation}]]</span>
																				</p>
																			</div>
																		</div>
																	</div>
																</div>
																<hr>
																<div th:each="divH :${divHelper}"
																	th:if="${stats.index} == ${divH.counter1}">
																	<!-- - NOTE : supposedly to be rendered only if the condition it true -->
																	<div class="row">
																		<button type="button"
																			class="btn1 btn btn-primary mr-2"
																			data-toggle="collapse"
																			th:attr="data-target='#div'+${divH.counter1}">&nbsp;تغيير
																			حالة الصورة&nbsp;</button>
																		<button type="button"
																			class="btn2 btn btn-success  mr-2"
																			data-toggle="collapse"
																			th:attr="data-target='#div'+${divH.counter2}">&nbsp;تغيير
																			تاريخ انتهاء الصلاحية&nbsp;</button>
																	    	<a 
																			th:href="@{/Admin/index/deleteImage/{id}(id=${img.id})}" onclick="handledeleteImage(event);"
																			class="btn btn-danger mr-2" th:id="*{'imgD'+{img.id}}">&nbsp;حذف صورة&nbsp;</a>
																	</div>
																	<hr>
																	<div class="collapse" th:id="*{'div'+{divH.counter1}}">
																		<form th:class="*{'form'+{divH.counter2}}"
																			onsubmit="submitHandler(event);">
																			<div class="alert alert-danger">
																			<p class=" text-center font-weight-bold">تغيير
																				حالة الصورة ، 0 = غير نشط ، 1 = نشط:</p>
																			</div>
																			<div class="form-group">
																				 <label>اسم الصورة: </label>  <input type="text"
																					name="imageName" class="form-control"
																					th:value="*{img.imageName}" /> <label>الحالة:</label>
																				<input type="number" min="0" max="1" name="status"
																					th:id="*{'status'+{divH.counter2}}"
																					onfocus="handleFocuss(event);" class="form-control" />
																			</div>
																			<button class="btn btn-info " type="submit">
																				<i class="fa fa-upload"></i>&nbsp;&nbsp;<span
																					class="bold">تحميل</span>
																			</button>
																		</form>
																	</div>
																	<div class="collapse" th:id="*{'div'+{divH.counter2}}">
																		<form th:class="*{'form2'+{divH.counter2}}"
																			onsubmit="handleChangingexpireDateSubmit(event);">
																			<div class="alert alert-danger mt-2">
																			<p class="text-center font-weight-bold">تغيير
																				تاريخ انتهاء الصلاحية:</p>
																			</div>
																			<div class="form-group">
																				  <label>معرف الصورة: </label> <input type="text"
																					name="imageid" class="form-control"
																					th:value="*{img.id}" /> <label>تاريخ
																					انتهاء الصلاحية الجديد:</label> <input type="date"
																					name="dateOfExperation" class="form-control"
																					th:id="*{'date'+{divH.counter2}}"
																					onfocus="findTargetedFormClass(event);" />
																			</div>
																			<button class="btn btn-info " type="submit">
																				<i class="fa fa-upload"></i>&nbsp;&nbsp;<span
																					class="bold">تحميل</span>
																			</button>
																		</form>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<!-- -------------------- END -------------------------------- -->

												</div>
											</div>
										</div>
									</div>

								</div>
								<div id="tab-11" class="tab-pane">
									<div class="panel-body">
										<!-- ----------------------NEWS START----------------------->
										<div class="col-lg-12 alert-mmsg">
											<div class="ibox ">
												<div class="ibox-title" style="margin-bottom: -20px;">
													<h4 class="font-weight-bold text-center">حفظ خبر جديدة
														إلى قاعدة البيانات</h4>

													<div class="ibox-content">
														<form  onsubmit="handleUploadNews(event);" id="newsForm">
															<div class="form-group">
																<p class="m-t-sm">وصف الخبر:</p>
																<textarea name="description" rows="4" cols="" id ="news-description"
																	class="form-control" placeholder="...">
                                                            </textarea>
                                                            
															</div>
															<div class="custom-file">
															  <p class="m-t-sm"> الملف الملحق(إختياري)</p>
																<input id="logo" type="file" name="file" 
																	class="custom-file-input" /> <label for="logo"
																	class="custom-file-label">اختر ملف...</label>
															</div>
															<br>
															<div class="form-group">
																<button class="btn btn-info " type="submit"
																	style="margin-bottom: -60px; margin-top: -40px;">
																	<i class="fa fa-upload"></i>&nbsp;&nbsp;<span
																		class="bold">تحميل</span>
																</button>
															</div>
														</form>
													</div>
												</div>
											</div>
											<hr>
											<!-- --------------------- News------------------------------- -->
											<div class="row insert-news">
												<div class="col-lg-6" th:each="feed : ${news}" th:id="*{'newsContainer'+{feed.id}}"> 
													<div class="ibox">
														<div class="ibox-title">
															<h5>إدارة الخبر</h5>
															<div class="ibox-tools">
																<a class="collapse-link"> <i
																	class="fa fa-chevron-up"></i>
																</a> <a class="close-link"> <i class="fa fa-times"></i>
																</a>
															</div>
														</div>
														<div class="ibox-content" style="margin-bottom: -16px;">
															<div class="row">
																<div class="col-lg-12">
																	<div class="card card-block"
																		style="height: 120px; width: 100%;">
																		<div style="height: 150px;">
																			<p th:class="${feed.status} ? 'newsActive'+' '+'text-center m-2 font-weight-bold' : 'newsDisactive'+ ' '+'text-center m-2 font-weight-bold'" 
																			th:id="*{'newsContent'+{feed.id}}">[[*{feed.description}]]</p>
																		</div>
																		<hr>
																		<div style="height: 18px; width: 100%;" class="mb-2">
																			<ul class="list-inline mb-2">
																				<li class="list-inline-item ml-4 alert-success"><strong>رقم
																						الخبر :<span>[[*{feed.id}]]</span>
																				</strong></li>
																				<li class="list-inline-item  ml-4 alert-success"><strong>حالة
																						الخبر :<span th:id="*{'newsStatus'+{feed.id}}"
																						>[[*{feed.status}]]</span>
																				</strong></li>
																				<li class="list-inline-item  ml-4 alert-success" th:if="${feed.attachmentURL} != null"><span 
																						>[[*{feed.attachmentURL}]]</span><strong>
																						:الملف الملحق
																				</strong></li>
																			</ul>
																		</div>
																	</div>
																</div>
															</div>
															<hr>
															<div>
																<div class="row">
																	<button type="button"
																		class="btn1 btn btn-primary mr-2 ml-2"
																		data-toggle="collapse" th:attr="data-target='#feed'+${feed.id}" >&nbsp;تغيير
																		حالة الخبر&nbsp;</button>

																	<a th:href="@{/Amdin/index/deleteNews/{id}(id = *{feed.id})}" th:id="*{'deleteNews'+{feed.id}}"
																	onclick="handleDeleteNews(event);" class="btn btn-danger">&nbsp;حذف الخبر&nbsp;</a>
																</div>
																<hr>
																<div class="collapse" th:id="*{'feed'+{feed.id}}">
																	<form th:id="*{'newsForm'+{feed.id}}" onsubmit="handleNewsubmilt(event);">
																		<div class="alert alert-danger">
																		<p class="text-center font-weight-bold">تغيير
																			حالة الخبر، 0 = غير نشط ، 1 = نشط:</p>
																		</div>
																		<div class="form-group">
																			    <input type="hidden"
																				name="newsId" class="form-control"
																				th:value="*{feed.id}"> 
																				<label>الحالة:</label> 
																				<input
																				type="number" min="0" max="1" name="status"
																				th:id="*{'feedstatus'+{feed.id}}" onfocus="handleNewsFocuss(event);"
																				class="form-control">
																		</div>
																		<button class="btn btn-info " type="submit">
																			<i class="fa fa-upload"></i>&nbsp;&nbsp;<span
																				class="bold">تحميل</span>
																		</button>
																	</form>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<!-- --------------------------------------------------------- -->
									</div>
								</div>
							    <!-- ------------------------ SERVIVE IMAGE PANEL -------------------->
							    <div id="tab-12" class="tab-pane">
							      <div class="panel-body">
							        <!-- -------------------- SERVIVE IMAGE -------------------------->
										<div class="col-lg-12">
											<div class="ibox ">
												<div class="ibox-title" style="margin-bottom: -20px;">
													<h4 class="font-weight-bold text-center">حفظ صورة خدمة
														جديدة إلى قاعدة البيانات</h4>

													<div class="ibox-content">
														<form enctype="multipart/form-data" id="ServiceImage-upload" onsubmit="handleUploadServiceImage(event);" method="POST">
															<div class="row">
																<div class="col-6">
																	<p class="m-t-sm">اختيار ملف:</p>
																	<div class="custom-file">
																		<input id="logo" type="file" name="file"
																			class="custom-file-input" /> <label for="logo"
																			class="custom-file-label">اختر ملف...</label>
																	</div>
																</div>
																<div class="col-6">
																	<div class="form-group ">
																		<p class="m-t-sm">اسم الخدمة</p>
																		<input name="serviceName" type="text"
																			class="form-control" placeholder="...">
																	</div>
																</div>
																<div class="form-group mt-2 ml-2"
																	style="margin-bottom: -25px;">
																	<button class="btn btn-info  " type="submit" id="btnSubmit">
																		<i class="fa fa-upload"></i>&nbsp;&nbsp;<span
																			class="bold">تحميل&nbsp;&nbsp;</span>
																	</button>
																</div>
															</div>
														</form>
													</div>
												</div>
											</div>
											<hr>
                                             
                                            <div class="row" id="insertServiceImage">
													<div class="col-lg-6" th:each="sImage : ${imageService}" th:id="*{'serviceImage'+{sImage.id}}">
														<div class="ibox">
															<div class="ibox-title">
																<h5>إدارة صورة الخدمة</h5>
																<div class="ibox-tools">
																	<a class="collapse-link"> <i
																		class="fa fa-chevron-up"></i>
																	</a> <a class="close-link"> <i class="fa fa-times"></i>
																	</a>
																</div>
															</div>
														<div class="ibox-content">

															<div class="row">
																<div class="col-6">
																	<div class="card card-block">
																		<img alt="" class="" th:id="*{'simage'+{sImage.id}}" style="height: 190px;"
																			th:src="*{'data:image/jpeg;base64,'+{sImage.service_image}}">
																	</div>
																</div>
																<div class="col-6">
																	<div class="card card-block">
																		<div class="list-group">
																			<h4 class="card-title text-center">تفاصيل الصورة</h4>
																			<p class="list-group-item alert-success">
																				<strong> رقم :  </strong><span>[[*{sImage.id}]]</span>
																			</p>
																			<p class="list-group-item alert-success">
																				<strong>الحالة :</strong><span 
																					class="further-info"></span>
																			</p>
																			<p class="list-group-item alert-success">
																				<strong> : اسم الصورة</strong><span th:id="*{'simgName'+{sImage.id}}">[[*{sImage.imageName}]]</span>
																			</p>
																			<p class="list-group-item alert-success">
																				<strong>ااسم الخدمة : </strong><span>[[*{sImage.serviceName}]]</span>
																			</p>

																		</div>
																	</div>
																</div>
															</div>
															<hr>
															<div id="">
																<div class="row">
																	<button type="button"
																		class="btn1 btn btn-primary mr-2 ml-2"
																		data-toggle="collapse" th:attr="data-target='#service'+${sImage.id}">&nbsp;تغيير
																		الصورة&nbsp;</button>

																	<a th:href="@{/Admin/index/deleteServiceImage/{id}(id=${sImage.id})}"
																		onclick="handledeleteServiceImage(event);"
																		class="btn btn-danger" th:id="*{'id'+{sImage.id}}">&nbsp;حذف صورة&nbsp;</a>
																</div>
																<hr>
																<div class="collapse" th:id="*{'service'+{sImage.id}}">
																	<form th:id="*{'serviceForm'+{sImage.id}}"
																		onsubmit="handlerServiceImageUpdate(event);">
																		<div class="alert alert-danger">
																			<p class=" text-center font-weight-bold">تغيير
																				الصورة </p>
																		</div>
																		<div class="form-group">
																		  <input type="hidden"
																				name="id" class="form-control" th:value="*{sImage.id}" /> 
																				
																		</div>
																		<div class="form-group">
																			<p class="m-t-sm">اختيار الصورة</p>
																			<div class="custom-file">
																				<input th:id="*{'logo'+{sImage.id}}" type="file" name="newfile" onfocus="handleServiceFocused(event);"
																					class="custom-file-input form-control" /> <label for="logo"
																					class="custom-file-label">اختر ملف...</label>
																			</div>
																		</div>
																		<button class="btn btn-info " type="submit">
																			<i class="fa fa-upload"></i>&nbsp;&nbsp;<span
																				class="bold">تحميل</span>
																		</button>
																	</form>
																</div>

															</div>
														</div>
													</div>
													</div>
													<!-- -------------------- END -------------------------------- -->

											</div>
										</div>
										<!-- -------------------- END SERVICE IMAGE  --------------------->
							      </div>
							    </div>
							    <!-- ------------------ END SERVICE IMAGE PANEL-------------------- -->
							</div>
						</div>
					</div>
					<div class="footer">
							<div class="float-right">
								<!--     10GB من  <strong>250GB</strong> -->
								|مجانا <strong>10 جيجا من 250 جيجا مجانا </strong>
							</div>
							<div>
								<strong>شركة حقوق الطبع والنشر</strong> مثال &copy;© 2014-2018
							</div>
						</div>

					</div>
				</div>

				<!-- Mainly scripts -->
				<script src="js1/jquery-3.1.1.min.js" type="text/javascript"></script>
				<script src="js1/popper.min.js" type="text/javascript"></script>
				<script src="js1/bootstrap1.js" type="text/javascript"></script>
				<script src="js1/plugins/metisMenu/jquery.metisMenu.js"
					type="text/javascript"></script>
				<script src="js1/plugins/slimscroll/jquery.slimscroll.min.js"
					type="text/javascript"></script>

				<script src="js1/api/ajaxHomeAdministration.js" type="text/javascript"></script>

				<!-- Custom and plugin javascript -->
				<script src="js1/inspinia.js" type="text/javascript"></script>
				<script src="js1/plugins/pace/pace.min.js" type="text/javascript"></script>

				<!-- Jasny -->
				<script src="js1/plugins/jasny/jasny-bootstrap.min.js"
					type="text/javascript"></script>

				<!-- DROPZONE -->
				<script src="js1/plugins/dropzone/dropzone.js"
					type="text/javascript"></script>

				<!-- CodeMirror -->
				<script src="js1/plugins/codemirror/codemirror.js"
					type="text/javascript"></script>
				<script src="js1/plugins/codemirror/mode/xml/xml.js"
					type="text/javascript"></script>

		    	
			</div>
		</div>
	</div>
</body>

</html>
