<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>تفاصيل الرسلة</title>
     <base href="/">
    <link href="css1/bootstrap.min1.css" rel="stylesheet">
    <link href="css1/bootstrap-rtl.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="css1/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="css1/animate1.css" rel="stylesheet">
    <link href="css1/style1.css" rel="stylesheet">
   
</head>

<body class="rtls">

    <div id="wrapper">

       <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <img alt="image" class="rounded-circle" src="img1/fmj.jpg"/>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="block m-t-xs font-bold">FMJ</span>
                                <span class="text-muted text-xs block">fondation <b class="caret"></b></span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a class="dropdown-item" href="#">Profile</a></li>
                                <li><a class="dropdown-item" href="#">Contacts</a></li>
                                <li><a class="dropdown-item" th:href="@{/mailbox}">Mailbox</a></li>
                                <li class="dropdown-divider"></li>
                                <li><a class="dropdown-item" th:href="@{/home.html}">Logout</a></li>
                            </ul>
                        </div>
                        <div class="logo-element">
                            IN+
                        </div>
                    </li>
                    <li>
                        <a th:href="@{/index}" href=""><i class="fa fa-home"></i> <span class="nav-label">الرئيسية</span></a>
                    </li>
                    <li class=" ">
                        <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">الخدمات</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li class=" "><a th:href="@{/hebergementAdmin}">السكن</a></li>
                            <li><a href="#" >الصحة</a></li>
                            <li><a th:href="@{/transportAdmin}">النقل</a></li>
							<li><a href="#">القروض </a></li>
							<li><a href="#">المنح</a></li>
							<li><a href="#"> العمرة</a></li>
                            <li><a href="#" >التأمين</a></li>
                            <li><a href="#" >الإصطياف</a></li>
                            <li><a href="#" >الترفيه</a></li>
                        </ul>
                    </li>
                    
                     <li class=" ">
                        <a href="#"><i class="fa fa-building"></i>  <span class="nav-label">المؤسسة</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li class=" "><a href="#">النشأة</a></li>
                            <li><a href="#" >المهام</a></li>
                            <li><a href="#">الأهداف والقيم</a></li>
							<li><a href="#">شركاءنا</a></li>
                        </ul>
                    </li>
                      <li class=" ">
                        <a href="#"><i class="fa fa-briefcase"></i><span class="nav-label">الإدارة</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li class=" "><a href="#">كلمة المدير العام</a></li>
                            <li><a href="#" >النصوص القانونية</a></li>
                            <li><a href="#"> الهياكل التنظيمية</a></li>
                        </ul>
                    </li>
                    
                     <li class=" ">
                        <a href="#"><i class="fa fa-sitemap"></i><span class="nav-label">الفروع</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li class=" "><a href="#"> المدن </a></li>
                            
                        </ul>
                    </li>
                    
                    <li class=" ">
                        <a href="#"><i class="fa fa-archive"></i><span class="nav-label">البيانات</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li class=" "><a href="#"> الصحافة</a></li>
                            <li><a th:href="@{/galleryAdmin}" > معرض الصور</a></li>
                        </ul>
                    </li>
                    
                    <li>
                        <a th:href="@{/videoAdmin}" ><i class="fa fa-camera"></i><span class="nav-label">فيديوهات</span></a>
                    </li>
                    
                    <li class=" ">
                        <a href="#"><i class="fa fa-paper-plane"></i><span class="nav-label">المنشورات</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li class=" "><a th:href="@{/publicationAdmin}">طلبات العروض</a></li>
                            <li><a th:href="@{/manachirAdmin}" >مناشير</a></li>
                            <li><a th:href="@{/publication3Admin}">إعلانات</a></li>
							<li><a href="#">تساؤلات</a></li>
							<li><a th:th="@{/mailbox}">شكاوي</a></li>
                        </ul>
                    </li>
                    <li class="active">
                        <a href="#"><i class="fa fa-envelope"></i> <span class="nav-label">التواصل</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li class=" "><a th:href="@{/mailbox}"> الرسائل و الشكايات</a></li>
   
							<li><a  th:th="@{/mail_compose}">ارسال رسالة</a></li>
                        </ul>
                    </li>
                  </ul>
            </div>
        </nav>

        <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
        <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <form role="search" class="navbar-form-custom" action="search_results.html">
                <div class="form-group">
                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                </div>
            </form>
        </div>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <span class="m-r-sm text-muted welcome-message">Welcome to INSPINIA+ Admin Theme.</span>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope"></i>  <span class="label label-warning">16</span>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <div class="dropdown-messages-box">
                                <a class="dropdown-item float-left" href="profile.html">
                                    <img alt="image" class="rounded-circle" src="img1/a7.jpg">
                                </a>
                                <div class="media-body">
                                    <small class="float-right">46h ago</small>
                                    <strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>
                                    <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li>
                            <div class="dropdown-messages-box">
                                <a class="dropdown-item float-left" href="profile.html">
                                    <img alt="image" class="rounded-circle" src="img1/a4.jpg">
                                </a>
                                <div class="media-body ">
                                    <small class="float-right text-navy">5h ago</small>
                                    <strong>Chris Johnatan Overtunk</strong> started following <strong>Monica Smith</strong>. <br>
                                    <small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li>
                            <div class="dropdown-messages-box">
                                <a class="dropdown-item float-left" href="profile.html">
                                    <img alt="image" class="rounded-circle" src="img1/profile.jpg">
                                </a>
                                <div class="media-body ">
                                    <small class="float-right">23h ago</small>
                                    <strong>Monica Smith</strong> love <strong>Kim Smith</strong>. <br>
                                    <small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li>
                            <div class="text-center link-block">
                                <a th:href="@{/mailbox}" class="dropdown-item">
                                    <i class="fa fa-envelope"></i> <strong>Read All Messages</strong>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell"></i>  <span class="label label-primary">8</span>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a th:href="@{/mailbox}"  class="dropdown-item">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> You have 16 messages
                                    <span class="float-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li>
                            <a href="profile.html" class="dropdown-item">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="float-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li>
                            <a href="grid_options.html" class="dropdown-item">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="float-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li>
                            <div class="text-center link-block">
                                <a href="notifications.html" class="dropdown-item">
                                    <strong>See All Alerts</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>


                <li>
                    <a href="login.html">
                        <i class="fa fa-sign-out"></i> Log out
                    </a>
                </li>
            </ul>

        </nav>
        </div>

        <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-3">
                <div class="ibox ">
                    <div class="ibox-content mailbox-content">
                        <div class="file-manager">
                            <a class="btn btn-block btn-primary compose-mail" th:href="@{/mail_compose}">Compose Mail</a>
                            <div class="space-25"></div>
                            <h5>Folders</h5>
                            <ul class="folder-list m-b-md" style="padding: 0">
                                <li><a th:href="@{/mailbox}"> <i class="fa fa-inbox "></i> Inbox <span class="label label-warning float-right">[[${unreadEmail}]]</span> </a></li>
                                <li><a th:href="@{/mail_compose}"> <i class="fa fa-envelope-o"></i> Send Mail</a></li>
                                <li><a th:href="@{/mailbox}"> <i class="fa fa-certificate"></i> Important</a></li>
                                <li><a th:href="@{/mailbox}"> <i class="fa fa-file-text-o"></i> Drafts <span class="label label-danger float-right">2</span></a></li>
                                <li><a th:href="@{/mailbox}"> <i class="fa fa-trash-o"></i> Trash</a></li>
                            </ul>
                            <h5>Categories</h5>
                            <ul class="category-list" style="padding: 0">
                                <li><a href="#"> <i class="fa fa-circle text-navy"></i> Work </a></li>
                                <li><a href="#"> <i class="fa fa-circle text-danger"></i> Documents</a></li>
                                <li><a href="#"> <i class="fa fa-circle text-primary"></i> Social</a></li>
                                <li><a href="#"> <i class="fa fa-circle text-info"></i> Advertising</a></li>
                                <li><a href="#"> <i class="fa fa-circle text-warning"></i> Clients</a></li>
                            </ul>

                            <h5 class="tag-title">Labels</h5>
                            <ul class="tag-list" style="padding: 0">
                                <li><a href=""><i class="fa fa-tag"></i> Family</a></li>
                                <li><a href=""><i class="fa fa-tag"></i> Work</a></li>
                                <li><a href=""><i class="fa fa-tag"></i> Home</a></li>
                                <li><a href=""><i class="fa fa-tag"></i> Children</a></li>
                                <li><a href=""><i class="fa fa-tag"></i> Holidays</a></li>
                                <li><a href=""><i class="fa fa-tag"></i> Music</a></li>
                                <li><a href=""><i class="fa fa-tag"></i> Photography</a></li>
                                <li><a href=""><i class="fa fa-tag"></i> Film</a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 animated fadeInRight">
            <div class="mail-box-header">
                <div class="float-right tooltip-demo">
                    <a th:href="@{/Admin/mail_compose/replay/{id}(id=${contact.id})}" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Reply"><i class="fa fa-reply"></i> Reply</a>
                    <a href="#" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Print email"><i class="fa fa-print"></i> </a>
                    <a th:href="@{/Admin/mail_detail/delete/{id}(id=${contact.id})}" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Move to trash"><i class="fa fa-trash-o"></i> </a>
                </div>
                <h2>
                    View Message
                </h2>
                <div class="mail-tools tooltip-demo m-t-md" >


                    <h3>
                        <span class="font-normal">Subject: </span> [[${contact.sujet}]]
                    </h3>
                    <h5>
                        <span class="float-right font-normal">[[${contact.date}]]</span>
                        <span class="font-normal">From: </span>[[${contact.email}]]
                    </h5>
                </div>
            </div>
                <div class="mail-box">


                <div class="mail-body">
                    <p>
                     <br>  
                        [[${contact.contenu}]]
                    </p>
                </div>
                    <div class="mail-attachment">
                        <p>
                            <span><i class="fa fa-paperclip"></i> 2 attachments - </span>
                            <a href="#">Download all</a>
                            |
                            <a href="#">View all images</a>
                        </p>

                        <!-- <div class="attachment">
                            <div class="file-box">
                                <div class="file">
                                    <a href="#">
                                        <span class="corner"></span>

                                        <div class="icon">
                                            <i class="fa fa-file"></i>
                                        </div>
                                        <div class="file-name">
                                            Document_2014.doc
                                            <br/>
                                            <small>Added: Jan 11, 2014</small>
                                        </div>
                                    </a>
                                </div>

                            </div>
                            <div class="file-box">
                                <div class="file">
                                    <a href="#">
                                        <span class="corner"></span>

                                        <div class="image">
                                            <img alt="image" class="img-fluid" src="">
                                        </div>
                                        <div class="file-name">
                                            Italy street.jpg
                                            <br/>
                                            <small>Added: Jan 6, 2014</small>
                                        </div>
                                    </a>

                                </div>
                            </div>
                            <div class="file-box">
                                <div class="file">
                                    <a href="#">
                                        <span class="corner"></span>

                                        <div class="image">
                                            <img alt="image" class="img-fluid" src="">
                                        </div>
                                        <div class="file-name">
                                            My feel.png
                                            <br/>
                                            <small>Added: Jan 7, 2014</small>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div> -->
                        </div>
                        <div class="mail-body text-right tooltip-demo">
                                <a class="btn btn-sm btn-white" th:href="@{/Admin/mail_compose/replay/{id}(id=${contact.id})}"><i class="fa fa-reply"></i> Reply</a>
                                <a class="btn btn-sm btn-white" th:href="@{/Admin/mail_compose/replay/{id}(id=${contact.id})}"><i class="fa fa-arrow-right"></i> Forward</a>
                                <button title="" data-placement="top" data-toggle="tooltip" type="button" data-original-title="Print" class="btn btn-sm btn-white"><i class="fa fa-print"></i> Print</button>
                                <!-- <button title="" data-placement="top" data-toggle="tooltip" data-original-title="Trash" class="btn btn-sm btn-white"> <i class="fa fa-trash-o"></i> Remove</button>-->
                                <a title="" data-placement="top" data-toggle="tooltip" data-original-title="Trash" class="btn btn-sm btn-white" th:href="@{/mail_detail/delete/{id}(id=${contact.id})}    "> 
                                <i class="fa fa-trash-o"></i> Remove</a>
                        </div>
                        <div class="clearfix"></div>


                </div>
            </div>
        </div>
        </div>
        <div class="footer">
            <div class="float-right">
                10GB of <strong>250GB</strong> Free.
            </div>
            <div>
                <strong>Copyright</strong> Example Company &copy; 2014-2018
            </div>
        </div>

        </div>
        </div>

    <!-- Mainly scripts -->
    <script src="js1/jquery-3.1.1.min.js"></script>
    <script src="js1/popper.min.js"></script>
    <script src="js1/bootstrap1.js"></script>
    <script src="js1/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="js1/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="js1/inspinia.js"></script>
    <script src="js1/plugins/pace/pace.min.js"></script>

    <!-- iCheck -->
    <script src="js1/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>
</body>

</html>
