<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>خدماتنا : الترفيه</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
     <link rel="icon" type="image/png" th:href="@{/images/icons/logoicon.png}" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="fonts/fontawesome-5.0.8/css/fontawesome-all.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!--===============================================================================================-->
</head>

<body class="animsition" onload=display_ct();>

    <!-- Header -->
    <header th:replace="home :: header">

        <!-- -------------------  HEADER END  ------------------------------------->
    </header>

    <!-- Breadcrumb -->
    <div class="container">
        <div class="headline bg0 flex-wr-sb-c p-rl-20 p-tb-8">
            <!-- --------------------------- -->
            <div class="f2-s-1 news p-r-30 size-w-0 m-tb-6 flex-wr-s-c">
                <span class="text-uppercase cll2 p-r-8"> 
			 
			 <div class="f2-s-1 p-r-30 m-tb-6">
				<a th:href="@{/home.html}" class="cl9" style="font-size:15px;font-family: KacstTitle;margin-right: -32px;">الخدمات</a>
				<i class="arrow left" style="font-size:15px;font-family: KacstTitle;"> &#62 </i>
				 <span style="font-size:15px;font-family: KacstTitle;">
					الترفيه
				</span>
            </div>
            </span>
        </div>
        <div class="pos-relative size-a-2 bo-1-rad-22 of-hidden bocl11 m-tb-6">
            <input class="f1-s-1 cl6 plh9 s-full p-l-25 p-r-45" type="text" name="search" placeholder="بحث">
            <button class="flex-c-c size-a-1 ab-t-r fs-20 cl2 hov-cl10 trans-03">
					<i class="zmdi zmdi-search"></i>
				</button>
        </div>
    </div>
    </div>
    <!-- Content -->
    <div class="befor-body container"></div>
    <section class="bg0 p-b-140 p-t-10">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-8 p-b-30">
                    <div class="p-r-10 p-r-0-sr991">
                        <!-- Blog Detail -->
                        <div class="p-b-70">
                            <h2 style="color:black;font-family:KacstTitle; font-size:32px;margin-bottom: 20px;">
                                الترفيه
                            </h2>
                            <div class="wrap-pic-max-w p-b-30" style="margin-bottom: -12px;">
                                <img src="images/service77_1.jpg" alt="IMG">
                            </div>

                            <div class="p-r-10 p-r-0-sr991">
                                <span style="color: black;font-size:20px;font-weight: bold;font-family: dubai;">مزايا و شروط تفضيلية تحملها اتفاقيات شراكة مع مؤسسات بنكية و عقارية
					      </span>
                                <br><br>
                                <div class="col-sm gr-btn-center" data-toggle="buttons">
                                    <button class="btn bt btn-warning-outline active btn1" style="background-color:#17b978;">مخيمات الأطفال</button>
                                    <button class="btn btn-warning-outline btn2" style="background-color:#17b978;width:300px;">الرحلات المنظمة</button>
                                    <button class="btn bt btn-warning-outline btn3" style="background-color:#17b978;">الأنشطة</button>
                                </div>
                                <div class="separater"></div>
                                <div class="card card-shadow" id="1" style="background-color: #ebebeb">
                                    <div class="card-block text-xs-center">
                                        <div class="para1 para show" aria-hidden="true" style= "padding-right: 20px; padding-left: 20px;">
                                            <div class="titre_section">
                                                <h4 class="red" style="color: #ff0000;font-size:20px;font-weight: bold;"> مخيمات الأطفال:</h4>
                                            </div>
                                            <div class="detail_section">
                                                <p>
                                                    تنظم المؤسسة المحمدية سنويا لفائدة أبناء منخرطيها المتراوحة أعمارهم ما بين 9 و14 سنة مخيمات صيفية تمتد على ثلاثة أو أربعة مراحل يستفيد خلالها الأطفال من أنشطة تربوية وترفيهية ورياضية متنوعة ويستمتعون بزيارات استكشافية واستطلاعية للمناطق والمدن المجاورة
                                                    لمقر المخيم وذلك بإشراف وتأطير طاقم إداري وتربوي متخصص
                                                    <br>
                                                </p>
                                            </div>
                                            <div class="detail_section">
                                                <center>
                                                    <img src="images/foto/jeu/1.png" style="width:100%; max-width:600px; ">
                                                </center>
                                                <br>
                                                <div class="titre_section" style="color:#f4650f"><strong>	• الوثائق المطلوبة:</strong></div>
                                                <div class="detail_section" style="color:#0000ff;">
                                                    <p class="ittliq">- طلب المشاركة وفق النموذج الخاص،<br> - نسخـة مـن بطاقــة التعريف الوطنية للأب أو الولي،<br> - نسخـة مـن بطاقــة العضـويــة بالمؤسسة،<br> - نسخة أصلية حديثة من عقد ازدياد الابن(ة)،<br> - شهادة طبية للابن(ة)،
                                                        حاملة لصورته تثبت سلامته من أي مرض حاد أو مزمن أو معدي وتثبت قدرته البدنية على المشاركة في المخيم،<br> - شهادة طبية للابن(ة) في وضعية إعاقة حاملة لصورته تثبت طبيعة ونوعية اعاقته ( حسية، حركية، ذهنية
                                                        او بصرية).<br> - ظرف متنبر يحمل اسم وعنوان الأب أو الولي،<br> - وصل الأداء يثبت دفع مبلـغ المشاركة في حســاب المؤسسة المفــتـوح لدى الخزينـة العامـة.</p>
                                                </div>
                                                <br>
                                                <div class="titre_section" style="color:#f4650f"><strong>• مبلغ المشاركة:</strong></div><br>
                                                <div class="detail_section">
                                                    <div style="padding:20px; border:solid 2px #000000;border-radius: 20px;">
                                                        <strong>بالمجان </strong>بالنسبة لأبناء منخرطي المؤسسة في وضعية اعاقة.<br>
                                                        <strong>بالمجان </strong>بالنسبة لأبناء منخرطي المؤسسة المصنفين في سلم الاجور 6 فما تحت.<br>
                                                        <strong>  100 درهم </strong>بالنسبة لأبناء منخرطي المؤسسة المصنفين في سلاليم الاجور من 7 الى غاية سلم 9 .<br>
                                                        <strong>200 درهم بالنسبة للأبناء منخرطي المؤسسة المصنفين في سلاليم الأجور من سلم 10 فما فوق.</strong>
                                                    </div>
                                                    <p class="ittliq">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="para2 para hide completly-hidden" aria-hidden="true" style= "padding-right: 20px; padding-left: 20px;">
                                    <div class="titre_section">
                                        <h4 class="red" style="color: #ff0000;font-size:20px;font-weight: bold;"> الرحلات المنظمة:</h4>
                                    </div>
                                    <br>
                                    <img src="images/foto/jeu/2.png" style="width:100%; max-width: 996px;">
                                    <div class="detail_section">
                                        <br>
                                        <div class="detail_section">
                                            <p>
                                                تنظم المؤسسة المحمدية سنويا لفائدة منخرطيها وذويهم رحلات دولية ذات طابع ديني أو سياحي، وذلك بتعاقد مع وكالات أسفار متخصصة. ويتم الإعلان عن هاته الرحلات بواسطة مناشير خاصة توضح الوجهات المقصودة وبرامجها السياحية والخدمات التي يوفرها كل برنامج (النقل والإقامة
                                                والمزارات...إلخ) والتكلفة وشروط المشاركة.
                                            </p>
                                        </div>
                                        <div class="titre_section" style="color:#f4650f">
                                            <strong>	• الوثائق المطلوبة:</strong>
                                        </div>
                                        <div class="detail_section"  style="color:#0000ff;">
                                            <h4 style="color:#3b5998 ;font-size:16px ">1- الرحلات الدولية:</h4>
                                            <p class="ittliq">
                                                - جواز السفر الأصلي صالح لمدة 6 أشهر ابتداء من تاريخ انطلاق الرحلة وحامل للتأشيرة،
                                                <BR> - بيان الالتزام حديث للراغبين في الأداء بالتقسيط،
                                                <BR> - الترخيص بمغادرة التراب الوطني،
                                                <BR> - تعبئة استمارة المشاركة تتضمن الإذن بالاقتطاع بالنسبة للمشاركين عبر الأداء بالتقسيط،
                                                <BR> - نسخة من بطاقة العضوية بالمؤسسة،
                                                <BR> - شهادة العمل،
                                                <BR> - شهادة طبية تثبت سلامة المعني بالأمر،
                                                <BR> - نسخة من بطاقة التعريف الوطنية
                                                <BR> - وثائق إضافية حسب الوجهة وحسب المرافقين.
                                                <BR>
                                            </p>
                                            <h4 style="color:#3b5998 ;font-size:16px ">2- العمرة:</h4>
                                            يضاف إلى الوثائق المطلوبة للرحلات الدولية، الوثائق التالية :
                                            <p class="ittliq">

                                                - صورتان شخصيتان
                                                <BR> - شهادة التلقيح ضد الحمى الشوكية
                                                <BR> - تعيين مرافق بالنسبة للمرأة التي يقل عمرها عن 45 سنة وينبغي أن يكون من محارمها
                                                <BR> - اذن الزوج مصادق عليه بالنسبة للمرأة التي لن يرافقها زوجها، ونسخة من عقد الزواج مصادق عليها
                                                <BR> - نسخة من عقد الطلاق بالنسبة للمرأة المطلقة، مع شهادة عدم زواجها
                                                <BR> - شهادة وفاة الزوج بالنسبة للأرملة
                                                <BR> - شهادة العزوبة بالنسبة للعازبة ويتعين ان تكون رفقة والديها.
                                                <BR>

                                            </p>

                                            <h4 style="color:#400080;">أداء تكلفة الرحلة: </h4>
                                            يمكن المشاركة في الرحلة عبر الأداء الفوري لتكلفتها أو بالتقسيط على مدة 10 أشهر بالنسبة للرحلات السياحية و12 شهرا بالنسبة لرحلات العمرة، بواسطة الاقتطاع من المنبع على أساس أداء تسبيق بقيمة % 20 على الأقل من التكلفة.
                                            <br><br><br>
                                            <table class="idara1">
                                                <tbody>
                                                    <tr>
                                                        <th width="500px" style="text-align: right; color: #950095;font-size:20px;font-weight: bold;">منشور عمرة شعبان 2019</th>
                                                        <th width="500px" style="align-items: left;">
                                                            <a href="docs/divertissement1.pdf" target="_blank"><img src="images/telecharger.png" alt="img"></a>
                                                        </th>
                                                    </tr>
                                                </tbody>
                                            </table>
                                         <div class="separater"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="para3 para hide completly-hidden" aria-hidden="true" style= "padding-right: 20px; padding-left: 20px;">
                                    <div class="titre_section">
                                        <h4 class="red" style="color: #ff0000;font-size:20px;font-weight: bold;"> الأنشطة الترفيهية والرياضية والثقافية:</h4>
                                    </div>
                                    <br>
                                    <div class="titre_section" style="color:#f4650f">
                                        <strong>رياضة:</strong>
                                    </div>
                                    <div class="detail_section">
                                        <p>في إطار أنشطتها الاجتماعية والثقافية والرياضية، دأبت المؤسسة المحمدية للأعمال الاجتماعية لقضاة وموظفي العدل للسنة الثالثة على التوالي على تنظيم الدوري الرمضاني للكرة المصغرة كتقليد رياضي سنوي، حيث يعرف مشاركة العديد
                                            من الفرق المنتمية للدائرة القضائية للرباط. وتخصص جوائز تقديرية للمشاركين والفائزين بالدوري في حفل ختامي متميز وبحضور عدد من المسؤولين.
                                            <br>
                                            <br>
                                        </p>
                                    </div>
                                    <div class="detail_section">
                                        <center>
                                            <img src="images/foto/jeu/3.png" style="width:100%;  ">
                                        </center>
                                    </div>
                                    <br>
                                    <br>
                                    <div class="titre_section" style="color:#f4650f">
                                        <strong>ثقافة:</strong>
                                    </div>
                                    <div class="detail_section">
                                        <p>بالإضافة الى النوادي التربوية والثقافية، تضرب المؤسسة موعدا سنويا مع الأطفال في رحلة ثقافية بامتياز لزيارة المعرض الدولي للنشر والكتاب بالدار البيضاء. يستفيد من هذه الرحلة أطفال من مختلف الدوائر القضائية بالمملكة،
                                            وتهدف الى تقوية علاقة الطفل بالكتاب وتنمية سلوكه الثقافي والمساهمة في تنشئة جيل المطالعة.

                                        </p>
                                    </div>
                                    <div class="detail_section">
                                        <center><img src="images/foto/jeu/4.png" style="width:100%;   "></center>
                                    </div>
                                    <div class="detail_section" style="margin-top:17px">
                                        <center><img src="images/foto/jeu/5.png" style="width:100%;  "></center>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <!-- Share -->
                            <div class="flex-s-s">
                                <span class="f1-s-12 cl5 p-t-1 m-r-15">
									شارك على:
								</span>

                                <div class="flex-wr-s-s size-w-0">
                                    <a href="#" class="dis-block f1-s-13 cl0 bg-facebook borad-3 p-tb-4 p-rl-18 hov-btn1 m-r-3 m-b-3 trans-03">
                                        <i class="fab fa-facebook-f m-r-7"></i> Facebook
                                    </a>

                                    <a href="#" class="dis-block f1-s-13 cl0 bg-twitter borad-3 p-tb-4 p-rl-18 hov-btn1 m-r-3 m-b-3 trans-03">
                                        <i class="fab fa-twitter m-r-7"></i> Twitter
                                    </a>

                                    <a href="#" class="dis-block f1-s-13 cl0 bg-google borad-3 p-tb-4 p-rl-18 hov-btn1 m-r-3 m-b-3 trans-03">
                                        <i class="fab fa-google-plus-g m-r-7"></i> Google+
                                    </a>

                                    <a href="#" class="dis-block f1-s-13 cl0 bg-pinterest borad-3 p-tb-4 p-rl-18 hov-btn1 m-r-3 m-b-3 trans-03">
                                        <i class="fab fa-pinterest-p m-r-7"></i> Pinterest
                                    </a>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Leave a comment -->
                        <div>
                            <h4 class="f1-l-4 cl3 p-b-12">
                                إترك تعليق
                            </h4>

                            <p class="f1-s-13 cl8 p-b-40">
                                سنحافظ على خصوصية بريدك الإلكتروني . المرجو تعبئة كل الخانت
                            </p>

                            <form>
                                <textarea class="bo-1-rad-3 bocl13 size-a-15 f1-s-13 cl5 plh6 p-rl-18 p-tb-14 m-b-20" name="msg" placeholder="..."></textarea>

                                <input class="bo-1-rad-3 bocl13 size-a-16 f1-s-13 cl5 plh6 p-rl-18 m-b-20" type="text" name="name" placeholder="الإسم*">

                                <input class="bo-1-rad-3 bocl13 size-a-16 f1-s-13 cl5 plh6 p-rl-18 m-b-20" type="text" name="email" placeholder="البريد الإلكتروني*">

                                <input class="bo-1-rad-3 bocl13 size-a-16 f1-s-13 cl5 plh6 p-rl-18 m-b-20" type="text" name="website" placeholder="الموقع الإلكتروني">

                                <button class="size-a-17 bg2 borad-3 f1-s-12 cl0 hov-btn1 trans-03 p-rl-15 m-t-10">
									أضف تعليق
								</button>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Sidebar -->

                <div class="col-md-10 col-lg-4 p-b-30">
                    <div class="p-l-10 p-rl-0-sr991 p-t-70">
                        <!-- Category -->
                        <div class="p-b-60">
                            <div class="how2 how how2-cl4 flex-s-c">
                                <h3 class="f1-m-2 cl3 tab01-title">
                                    <strong>
									خدماتنا
								  </strong>
                                </h3>
                            </div>
                            <ul class="p-t-35">
                               	<li class="how-bor3 p-rl-4" style="background-color: #eeeeee">
                                    <a th:href="@{/hebergem.html}" class="dis-block f1-s-10 text-uppercase cl2 hov-cl10 trans-03 p-tb-13">
										السكن
									</a>
                                </li>
                                <li class="how-bor3 p-rl-4" style="background-color: #eeeeee">
                                    <a th:href="@{/santé.html}" class="dis-block f1-s-10 text-uppercase cl2 hov-cl10 trans-03 p-tb-13">
										الصحة
									</a>
                                </li>
                                <li class="how-bor3 p-rl-4" style="background-color: #eeeeee">
                                    <a th:href="@{/transport1.html}" class="dis-block f1-s-10 text-uppercase cl2 hov-cl10 trans-03 p-tb-13">
										النقل 
									</a>
                                </li>
                                <li class="how-bor3 p-rl-4" style="background-color: #eeeeee">
                                    <a th:href="@{/préts1.html}" class="dis-block f1-s-10 text-uppercase cl2 hov-cl10 trans-03 p-tb-13">
										القروض 
									</a>
                                </li>
                                <li class="how-bor3 p-rl-4" style="background-color: #eeeeee">
                                    <a th:href="@{/assurances.html}" class="dis-block f1-s-10 text-uppercase cl2 hov-cl10 trans-03 p-tb-13">
										التامين 
									</a>
                                </li>
                                <li class="how-bor3 p-rl-4" style="background-color: #eeeeee">
                                    <a th:href="@{/bourse.html}" class="dis-block f1-s-10 text-uppercase cl2 hov-cl10 trans-03 p-tb-13">
										 المنح
									</a>
                                </li>
                                <li class="how-bor3 p-rl-4" style="background-color: #eeeeee">
                                    <a th:href="@{/3omra.html}" class="dis-block f1-s-10 text-uppercase cl2 hov-cl10 trans-03 p-tb-13">
										العمرة
									</a>
                                </li>
                                <li class="how-bor3 p-rl-4" style="background-color: #eeeeee">
                                    <a th:href="@{/centre-été.html}" class="dis-block f1-s-10 text-uppercase cl2 hov-cl10 trans-03 p-tb-13">
										مراكز الإصطياف
									</a>
                                </li>
                                <li class="how-bor3 p-rl-4" style="background-color: #eeeeee">
                                    <a th:href="@{/divertissement1.html}" class="dis-block f1-s-10 text-uppercase cl2 hov-cl10 trans-03 p-tb-13">
										الترفيه
									</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
    </section>

    <!-- Footer -->
    <footer th:replace="home :: footer">

    </footer>

    <!-- Back to top -->
    <div class="btn-back-to-top" id="myBtn">
        <span class="symbol-btn-back-to-top">
			<span class="fas fa-angle-up"></span>
        </span>
    </div>


    <!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="js/main.js"></script>
    <script src="js/clock.js"></script>
</body>

</html>