<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>خدماتنا : القروض</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
 <link rel="icon" type="image/png" th:href="@{/images/icons/logoicon.png}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css"
	href="fonts/fontawesome-5.0.8/css/fontawesome-all.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="css/util.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="css/service.css">
<!--===============================================================================================-->

</head>

<body class="animsition" onload=display_ct();>

	<!-- Header -->
	<header th:replace="home :: header">

		<!-- -------------------  HEADER END  ------------------------------------->
	</header>

	<!-- Breadcrumb -->
	<div class="container">
		<div class="headline bg0 flex-wr-sb-c p-rl-20 p-tb-8">

			<div class="f2-s-1 news p-r-30 size-w-0 m-tb-6 flex-wr-s-c">
				<span class="text-uppercase cll2 p-r-8">
					<div class="f2-s-1 p-r-30 m-tb-6">
						 <a
							th:href="@{/home.html}" class="cl9"
							style="font-size: 15px; font-family: KacstTitle;margin-right: -32px;">الخدمات</a> <i
							class="arrow left"
							style="font-size: 15px; font-family: KacstTitle;"> &#62 </i> <span
							style="font-size: 15px; font-family: KacstTitle;"> القروض
						</span>
					</div>
				</span>
			</div>

			<!-- ------------------- -->

			<div
				class="pos-relative size-a-2 bo-1-rad-22 of-hidden bocl11 m-tb-6">
				<input class="f1-s-1 cl6 plh9 s-full p-l-25 p-r-45" type="text"
					name="search" placeholder="Search">
				<button class="flex-c-c size-a-1 ab-t-r fs-20 cl2 hov-cl10 trans-03">
					<i class="zmdi zmdi-search"></i>
				</button>
			</div>
		</div>
	</div>

	<!-- Content -->
	<div class="befor-body container"></div>
	<section class="bg0 p-b-140 p-t-10">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-10 col-lg-8 p-b-30">
					<div class="p-r-10 p-r-0-sr991">
						<!-- Blog Detail -->
						<div class="p-b-70">
							<h2
								style="color: black; font-family: KacstTitle; font-size: 32px; margin-bottom: 20px;">
								القروض</h2>



							<div class="wrap-pic-max-w p-b-30" style="margin-bottom: -12px;">
								<img src="images/service44-4.jpg" alt="IMG">
							</div>
							<div class="p-r-10 p-r-0-sr991">
								<div class="col-sm gr-btn-center" data-toggle="buttons"
									style="max-width: 100%">
									<button class="btn bt btn-warning-outline active btn1"
										style="background-color: #66ccc1">سلفة عيد الأضحى</button>
									<button class="btn btn-warning-outline btn2"
										style="background-color: #66ccc1; width: 300px;">القرض
										الاستثنائي للملحقين القضائيين</button>
									<button class="btn bt btn-warning-outline btn3"
										style="background-color: #66ccc1">القروض الاستهلاكية</button>
								</div>
								<div class="separater"></div>

								<div class="card card-shadow" id="1"
									style="background-color: #ebebeb">
									<div class="card-block text-xs-center">
										<div class="para1 para show" aria-hidden="true"
											style="padding-right: 20px; padding-left: 20px;">
											<div class="titre_section">
												<h4 class="red"
													style="color: #ff0000; font-size: 20px; font-weight: bold;">سلفة
													عيد الأضحى:</h4>
											</div>
											<div class="detail_section">

												<p>تخصص سلفة عيد الأضحى لفائدة المنخرطين الممارسين
													المصنفين في سلالم الأجور من 6 إلى 10 وتصرف لهم بواسطة تحويل
													بنكي في حسابهم الخاص ويتم تسديدها خلال مدة 10 أشهر بواسطة
													الاقتطاع من المنبع وتبلغ قيمة السلفة 1500 درهم.</p>
											</div>

											<div class="titre_section" style="color: #f4650f">
												<strong> • الوثائق المطلوبة:</strong>
											</div>
											<div class="detail_section">
												<p class="ittliq">
													- طلب الحصول على السلفة، وفق النموذج الخاص، يوجه الى إدارة
													المؤسسة تحت الإشراف الإداري <br> - شيك ملغى أو شهادة
													بنكية تبين رقم الحساب البنكي للمنخرط يتضمن 24 رقما (RIB)
												</p>
												<br>
												<table class="idara1">
													<tbody>
														<tr>
															<th width="500px"
																style="text-align: right; color: #950095; font-size: 20px; font-weight: bold;">مقتطف
																من الخطاب الملكي</th>
															<th width="500px" style="align-items: left;"><a
																href="docs/préts2.pdf" target="_blank"><img
																	src="images/telecharger.png" alt="img"></a></th>
														</tr>

													</tbody>
												</table>
												<div class="separater"></div>
												<br>
												<br>
												<!-- ------ -->
												<center>
													<img src="images/foto/prets/service4-img1.png"
														style="width: 100%; max-width: 600px;">
												</center>
												<br>
												<br>
											</div>
										</div>
									</div>
								</div>
								<br>

								<div class="para2 para hide completly-hidden" aria-hidden="true"
									style="padding-right: 20px; padding-left: 20px;">
									<div class="titre_section">
										<h4 class="red"
											style="color: #ff0000; font-size: 20px; font-weight: bold;">
											القرض الاستثنائي للملحقين القضائيين:</h4>
									</div>
									<div class="titre_section" style="color: #f4650f">
										<strong> • الوثائق المطلوبة:</strong>
									</div>
									<div class="detail_section" style="color: #0000ff">
										<p>تخصص سلفة استثنائية بمبلغ 000 20 درهم لفائدة الملحقين
											القضائيين (الراغبين في الحصول عليها) تصرف لهم بعد تخرجهم أو
											تعيينهم، لتمكينهم من مواجهة بعض المصاريف الضرورية، على أساس
											الشروع في تسديدها مباشرة بعد تسوية وضعيتهم الإدارية والمالية
											وذلك عن طريق الاقتطاع الشهري من المنبع خلال مدة 12 شهرا.</p>
									</div>
									<div class="detail_section">
										<center>
											<p class="ittliq">

												- طلب الاستفادة من السلفة يتضمن الإذن بالاقتطاع من المنبع،<br>
												- نسخة من بطاقة التعريف الوطنية ،<br> - رقم الحساب
												البنكي (RIB).

											</p>
										</center>
									</div>
								</div>
								<br>

								<div class="para3 para completly-hidden" aria-hidden="true"
									style="padding-right: 20px; padding-left: 20px; resize: none;">
									<div class="titre_section">
										<h4 class="red"
											style="color: #ff0000; font-size: 20px; font-weight: bold;">
											القروض الاستهلاكية المتنوعة:</h4>
									</div>
									<div class="detail_section">
										<p>بهدف الاستجابة للطلبات الملحة لكافة المنخرطين لتمويل
											القروض السريعة والقروض الاستهلاكية ، يعرض شركاء المؤسسة في
											هذا المجال مجموعة من المنتوجات بسعر فائدة تفضيلية، تخص مبالغ
											القروض الممنوحة و نسبة الفائدة ومدة التسديد ونسبة التمويل،
											وذلك كالآتي:</p>

									</div>
									<br>
									<!-- -------------------------------------------------------- -->
									<div class="wrapper wrapper-content animated fadeInRight">
										<div class="row">

											<div class="col-lg-6" style="max-width: 100%">
												<div class="widget-head-color-box navy-bg p-lg text-center"
													style="width: 110%; max-width: 600px;">
													<div class="m-b-md">
														<small> [ وفا سلف ]</small>
													</div>
													<img src="images/p11.jpg"
														class="rounded-circle circle-border m-b-md" alt="profile"
														style="width: 55%; length: 55%">
												</div>
												<div class="widget-text-box"
													style="width: 110%; max-width: 600px;">
													<h4 class="media-heading"></h4>
													<div class="ibox-content"
														style="padding-left: 2px; padding-right: 2px;">
														<div class="panel-body">
															<div class="panel-group" id="accordion">
																<div class="panel panel-default">
																	<div class="panel-heading"
																		style="background: #d9edf7; padding-top: 2px; padding-bottom: 2px">
																		<h5 class="panel-title" style="text-align: center;">
																			<a data-toggle="collapse" data-parent="#accordion"
																				href="#collapseFour" style="font-size: 11px;">قرض
																				السكن</a>
																		</h5>
																	</div>
																	<div id="collapseFour"
																		class="panel-collapse collapse in"
																		style="background-color: #f5f5f5">
																		<div class="panel-body">

																			<div style="padding-left: 1px; padding-right: 1px">
																				<table class="table table-bordered"
																					style="font-size: 8px">
																					<thead>
																						<tr>
																							<th width="50"
																								style="padding-right: 1px; color: #fd7e14; padding-top: 2px; padding-bottom: 2px;"></th>
																							<th
																								style="padding-right: 1px; color: #fd7e14; padding-top: 2px; padding-bottom: 2px; text-align: center">قرض
																								سريع</th>
																						</tr>
																					</thead>
																					<tbody>
																						<tr>
																							<td
																								style="padding-right: 1px; color: #fd7e14; padding-top: 2px; padding-bottom: 2px;">سعر
																								الفائدة</td>
																							<td
																								style="padding-right: 1px; padding-top: 2px; padding-bottom: 2px;">بدون</td>
																						</tr>
																						<tr>
																							<td
																								style="padding-right: 1px; color: #fd7e14; padding-top: 2px; padding-bottom: 2px;">مبلغ
																								القرض</td>
																							<td
																								style="padding-right: 1px; padding-top: 2px; padding-bottom: 2px;">3000
																								الى 5000 د</td>
																						</tr>
																						<tr>
																							<td
																								style="padding-right: 1px; color: #fd7e14; padding-top: 2px; padding-bottom: 2px;">مدة
																								التسديد</td>
																							<td
																								style="padding-right: 1px; padding-top: 2px; padding-bottom: 2px;">12/18
																								شهرا</td>
																						</tr>
																						<tr>
																							<td
																								style="padding-right: 1px; color: #fd7e14; padding-top: 2px; padding-bottom: 2px;">مصاريف
																								الملف</td>
																							<td
																								style="padding-right: 1px; padding-top: 2px; padding-bottom: 2px;">7.27%
																								/ 4.99%</td>
																						</tr>

																					</tbody>
																				</table>
																			</div>
																		</div>
																	</div>
																</div>

																<div class="panel panel-default">
																	<div class="panel-heading"
																		style="background: #d9edf7; padding-top: 2px; padding-bottom: 2px">
																		<h4 class="panel-title" style="text-align: center;">
																			<centre> <a data-toggle="collapse"
																				data-parent="#accordion" href="#collapseFive"
																				style="font-size: 11px;"> قرض استهلاكي</a> </centre>
																		</h4>
																	</div>
																	<div id="collapseFive" class="panel-collapse collapse"
																		style="background-color: #f5f5f5;">
																		<div class="panel-body">

																			<div style="padding-left: 1px; padding-right: 1px">
																				<table class="table table-bordered"
																					style="font-size: 8px">
																					<thead>
																						<tr>
																							<th width="50"
																								style="padding-right: 1px; color: #fd7e14; padding-top: 2px; padding-bottom: 2px;"></th>
																							<th
																								style="padding-right: 1px; color: #fd7e14; padding-top: 2px; padding-bottom: 2px; text-align: center">
																								قرض استهلاكي</th>
																						</tr>
																					</thead>
																					<tbody>
																						<tr>
																							<td
																								style="padding-right: 1px; color: #fd7e14; padding-top: 2px; padding-bottom: 2px;">سعر
																								الفائدة</td>
																							<td
																								style="padding-right: 1px; padding-top: 2px; padding-bottom: 2px;">6%
																								إلى 11,5%</td>
																						</tr>
																						<tr>
																							<td
																								style="padding-right: 1px; color: #fd7e14; padding-top: 2px; padding-bottom: 2px;">مبلغ
																								القرض</td>
																							<td
																								style="padding-right: 1px; padding-top: 2px; padding-bottom: 2px;">5000
																								إلى 500000 د</td>
																						</tr>
																						<tr>
																							<td
																								style="padding-right: 1px; color: #fd7e14; padding-top: 2px; padding-bottom: 2px;">مدة
																								التسديد</td>
																							<td
																								style="padding-right: 1px; padding-top: 2px; padding-bottom: 2px;">120
																								شهرا</td>
																						</tr>
																						<tr>
																							<td
																								style="padding-right: 1px; color: #fd7e14; padding-top: 2px; padding-bottom: 2px;">مصاريف
																								الملف</td>
																							<td
																								style="padding-right: 1px; padding-top: 2px; padding-bottom: 2px;">
																								1% / 1,5%</td>
																						</tr>

																					</tbody>
																				</table>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													</br>
													</br>
													<div class="m-t text-righ">
														<a href="#" class="btn btn-xs btn-outline btn-primary">Info
															<i class="fa fa-long-arrow-right"></i>
														</a>
													</div>
												</div>
											</div>
											
											<div class="col-lg-6">
												<div class="widget-head-color-box navy-bg p-lg text-center"
													style="width: 110%; max-width: 600px;">
													<div class="m-b-md">
														<small> [ إيكدوم ]</small>
													</div>
													<img src="images/p2.jpg"
														class="rounded-circle circle-border m-b-md" alt="profile"
														style="width: 55%; length: 55%">
												</div>
												<div class="widget-text-box"
													style="width: 110%; max-width: 600px;">
													<h4 class="media-heading"></h4>
													<div class="ibox-content"
														style="padding-left: 2px; padding-right: 2px;">
														<div class="panel-body">
															<div class="panel-group" id="accordion">
																<div class="panel panel-default">
																	<div class="panel-heading"
																		style="background: #d9edf7; padding-top: 2px; padding-bottom: 2px">
																		<h5 class="panel-title" style="text-align: center;">
																			<a data-toggle="collapse" data-parent="#accordion"
																				href="#collapseOne" style="font-size: 11px;">قرض
																				السكن</a>
																		</h5>
																	</div>
																	<div id="collapseOne"
																		class="panel-collapse collapse in"
																		style="background-color: #f5f5f5">
																		<div class="panel-body">

																			<div style="padding-left: 1px; padding-right: 1px">
																				<table class="table table-bordered"
																					style="font-size: 8px">
																					<thead>
																						<tr>
																							<th width="50"
																								style="padding-right: 1px; color: #fd7e14; padding-top: 2px; padding-bottom: 2px;"></th>
																							<th
																								style="padding-right: 1px; color: #fd7e14; padding-top: 2px; padding-bottom: 2px; text-align: center">قرض
																								سريع</th>
																						</tr>
																					</thead>
																					<tbody>
																						<tr>
																							<td
																								style="padding-right: 1px; color: #fd7e14; padding-top: 2px; padding-bottom: 2px;">سعر
																								الفائدة</td>
																							<td
																								style="padding-right: 1px; padding-top: 2px; padding-bottom: 2px;">-</td>
																						</tr>
																						<tr>
																							<td
																								style="padding-right: 1px; color: #fd7e14; padding-top: 2px; padding-bottom: 2px;">مبلغ
																								القرض</td>
																							<td
																								style="padding-right: 1px; padding-top: 2px; padding-bottom: 2px;">-</td>
																						</tr>
																						<tr>
																							<td
																								style="padding-right: 1px; color: #fd7e14; padding-top: 2px; padding-bottom: 2px;">مدة
																								التسديد</td>
																							<td
																								style="padding-right: 1px; padding-top: 2px; padding-bottom: 2px;">-</td>
																						</tr>
																						<tr>
																							<td
																								style="padding-right: 1px; color: #fd7e14; padding-top: 2px; padding-bottom: 2px;">مصاريف
																								الملف</td>
																							<td
																								style="padding-right: 1px; padding-top: 2px; padding-bottom: 2px;">-</td>
																						</tr>

																					</tbody>
																				</table>
																			</div>
																		</div>
																	</div>
																</div>

																<div class="panel panel-default">
																	<div class="panel-heading"
																		style="background: #d9edf7; padding-top: 2px; padding-bottom: 2px">
																		<h4 class="panel-title" style="text-align: center;">
																			<centre> <a data-toggle="collapse"
																				data-parent="#accordion" href="#collapseSex"
																				style="font-size: 11px;"> قرض استهلاكي</a> </centre>
																		</h4>
																	</div>
																	<div id="collapseSex" class="panel-collapse collapse"
																		style="background-color: #f5f5f5;">
																		<div class="panel-body">

																			<div style="padding-left: 1px; padding-right: 1px">
																				<table class="table table-bordered"
																					style="font-size: 8px">
																					<thead>
																						<tr>
																							<th width="50"
																								style="padding-right: 1px; color: #fd7e14; padding-top: 2px; padding-bottom: 2px;"></th>
																							<th
																								style="padding-right: 1px; color: #fd7e14; padding-top: 2px; padding-bottom: 2px; text-align: center">
																								قرض استهلاكي</th>
																						</tr>
																					</thead>
																					<tbody>
																						<tr>
																							<td
																								style="padding-right: 1px; color: #fd7e14; padding-top: 2px; padding-bottom: 2px;">سعر
																								الفائدة</td>
																							<td
																								style="padding-right: 1px; padding-top: 2px; padding-bottom: 2px;">6%
																								إلى 11,5%</td>
																						</tr>
																						<tr>
																							<td
																								style="padding-right: 1px; color: #fd7e14; padding-top: 2px; padding-bottom: 2px;">مبلغ
																								القرض</td>
																							<td
																								style="padding-right: 1px; padding-top: 2px; padding-bottom: 2px;">5000
																								إلى 500000 د</td>
																						</tr>
																						<tr>
																							<td
																								style="padding-right: 1px; color: #fd7e14; padding-top: 2px; padding-bottom: 2px;">مدة
																								التسديد</td>
																							<td
																								style="padding-right: 1px; padding-top: 2px; padding-bottom: 2px;">120
																								شهرا</td>
																						</tr>
																						<tr>
																							<td
																								style="padding-right: 1px; color: #fd7e14; padding-top: 2px; padding-bottom: 2px;">مصاريف
																								الملف</td>
																							<td
																								style="padding-right: 1px; padding-top: 2px; padding-bottom: 2px;">
																								1% / 1,5%</td>
																						</tr>

																					</tbody>
																				</table>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													</br>
													</br>
													<div class="m-t text-righ">
														<a href="#" class="btn btn-xs btn-outline btn-primary">Info
															<i class="fa fa-long-arrow-right"></i>
														</a>
													</div>
												</div>
											</div>
										</div>
										</br>
										<div class="row">
											
											<div class="col-lg-6">
												<div class="widget-head-color-box navy-bg p-lg text-center"
													style="width: 110%; max-width: 600px;">
													<div class="m-b-md">
														<small> [ سلفين ]</small>
													</div>
													<img src="images/p3.jpg"
														class="rounded-circle circle-border m-b-md" alt="profile"
														style="width: 55%; length: 55%">
												</div>
												<div class="widget-text-box"
													style="width: 110%; max-width: 600px;">
													<h4 class="media-heading"></h4>
													<div class="ibox-content"
														style="padding-left: 2px; padding-right: 2px;">
														<div class="panel-body">
															<div class="panel-group" id="accordion">
																<div class="panel panel-default">
																	<div class="panel-heading"
																		style="background: #d9edf7; padding-top: 2px; padding-bottom: 2px">
																		<h5 class="panel-title" style="text-align: center;">
																			<a data-toggle="collapse" data-parent="#accordion"
																				href="#collapseThree" style="font-size: 11px;">قرض
																				السكن</a>
																		</h5>
																	</div>
																	<div id="collapseThree"
																		class="panel-collapse collapse in"
																		style="background-color: #f5f5f5">
																		<div class="panel-body">

																			<div style="padding-left: 1px; padding-right: 1px">
																				<table class="table table-bordered"
																					style="font-size: 8px">
																					<thead>
																						<tr>
																							<th width="50"
																								style="padding-right: 1px; color: #fd7e14; padding-top: 2px; padding-bottom: 2px;"></th>
																							<th
																								style="padding-right: 1px; color: #fd7e14; padding-top: 2px; padding-bottom: 2px; text-align: center">قرض
																								سريع</th>
																						</tr>
																					</thead>
																					<tbody>
																						<tr>
																							<td
																								style="padding-right: 1px; color: #fd7e14; padding-top: 2px; padding-bottom: 2px;">سعر
																								الفائدة</td>
																							<td
																								style="padding-right: 1px; padding-top: 2px; padding-bottom: 2px;">بدون</td>
																						</tr>
																						<tr>
																							<td
																								style="padding-right: 1px; color: #fd7e14; padding-top: 2px; padding-bottom: 2px;">مبلغ
																								القرض</td>
																							<td
																								style="padding-right: 1px; padding-top: 2px; padding-bottom: 2px;">4000
																								إلى 150000د</td>
																						</tr>
																						<tr>
																							<td
																								style="padding-right: 1px; color: #fd7e14; padding-top: 2px; padding-bottom: 2px;">مدة
																								التسديد</td>
																							<td
																								style="padding-right: 1px; padding-top: 2px; padding-bottom: 2px;">12
																								شهرا</td>
																						</tr>
																						<tr>
																							<td
																								style="padding-right: 1px; color: #fd7e14; padding-top: 2px; padding-bottom: 2px;">مصاريف
																								الملف</td>
																							<td
																								style="padding-right: 1px; padding-top: 2px; padding-bottom: 2px;">5%</td>
																						</tr>

																					</tbody>
																				</table>
																			</div>
																		</div>
																	</div>
																</div>

																<div class="panel panel-default">
																	<div class="panel-heading"
																		style="background: #d9edf7; padding-top: 2px; padding-bottom: 2px">
																		<h4 class="panel-title" style="text-align: center;">
																			<centre> <a data-toggle="collapse"
																				data-parent="#accordion" href="#collapseSeven"
																				style="font-size: 11px;"> قرض استهلاكي</a> </centre>
																		</h4>
																	</div>
																	<div id="collapseSeven" class="panel-collapse collapse"
																		style="background-color: #f5f5f5;">
																		<div class="panel-body">

																			<div style="padding-left: 1px; padding-right: 1px">
																				<table class="table table-bordered"
																					style="font-size: 8px">
																					<thead>
																						<tr>
																							<th width="50"
																								style="padding-right: 1px; color: #fd7e14; padding-top: 2px; padding-bottom: 2px;"></th>
																							<th
																								style="padding-right: 1px; color: #fd7e14; padding-top: 2px; padding-bottom: 2px; text-align: center">
																								قرض استهلاكي</th>
																						</tr>
																					</thead>
																					<tbody>
																						<tr>
																							<td
																								style="padding-right: 1px; color: #fd7e14; padding-top: 2px; padding-bottom: 2px;">سعر
																								الفائدة</td>
																							<td
																								style="padding-right: 1px; padding-top: 2px; padding-bottom: 2px;">6%
																								إلى 9 %%</td>
																						</tr>
																						<tr>
																							<td
																								style="padding-right: 1px; color: #fd7e14; padding-top: 2px; padding-bottom: 2px;">مبلغ
																								القرض</td>
																							<td
																								style="padding-right: 1px; padding-top: 2px; padding-bottom: 2px;">4000
																								إلى 500000 د</td>
																						</tr>
																						<tr>
																							<td
																								style="padding-right: 1px; color: #fd7e14; padding-top: 2px; padding-bottom: 2px;">مدة
																								التسديد</td>
																							<td
																								style="padding-right: 1px; padding-top: 2px; padding-bottom: 2px;">120
																								شهرا</td>
																						</tr>
																						<tr>
																							<td
																								style="padding-right: 1px; color: #fd7e14; padding-top: 2px; padding-bottom: 2px;">مصاريف
																								الملف</td>
																							<td
																								style="padding-right: 1px; padding-top: 2px; padding-bottom: 2px;">1%
																								/ 1,5%</td>
																						</tr>

																					</tbody>
																				</table>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													</br>
													</br>
													<div class="m-t text-righ">
														<a href="#" class="btn btn-xs btn-outline btn-primary">Info
															<i class="fa fa-long-arrow-right"></i>
														</a>
													</div>
												</div>
											</div>
											<div class="col-lg-6">
												<div class="widget-head-color-box navy-bg p-lg text-center"
													style="width: 110%; max-width: 600px;padding-bottom: 32px;">
													<div class="m-b-md">
														<small> [ سوفاك ]</small>
													</div>
													<img src="images/p44.jpeg"
														class="rounded-circle circle-border m-b-md" alt="profile"
														style="width: 55%; length: 55%">
												</div>
												<div class="widget-text-box"
													style="width: 110%; max-width: 600px;">
													<h4 class="media-heading"></h4>
													<div class="ibox-content"
														style="padding-left: 2px; padding-right: 2px;">
														<div class="panel-body">
															<div class="panel-group" id="accordion">
																<div class="panel panel-default">
																	<div class="panel-heading"
																		style="background: #d9edf7; padding-top: 2px; padding-bottom: 2px">
																		<h5 class="panel-title" style="text-align: center;">
																			<a data-toggle="collapse" data-parent="#accordion"
																				href="#collapseTwo" style="font-size: 11px;">قرض
																				السكن</a>
																		</h5>
																	</div>
																	<div id="collapseTwo"
																		class="panel-collapse collapse in"
																		style="background-color: #f5f5f5">
																		<div class="panel-body">

																			<div style="padding-left: 1px; padding-right: 1px">
																				<table class="table table-bordered"
																					style="font-size: 8px">
																					<thead>
																						<tr>
																							<th width="50"
																								style="padding-right: 1px; color: #fd7e14; padding-top: 2px; padding-bottom: 2px;"></th>
																							<th
																								style="padding-right: 1px; color: #fd7e14; padding-top: 2px; padding-bottom: 2px; text-align: center">قرض
																								سريع</th>
																						</tr>
																					</thead>
																					<tbody>
																						<tr>
																							<td
																								style="padding-right: 1px; color: #fd7e14; padding-top: 2px; padding-bottom: 2px;">سعر
																								الفائدة</td>
																							<td
																								style="padding-right: 1px; padding-top: 2px; padding-bottom: 2px;">بدون</td>
																						</tr>
																						<tr>
																							<td
																								style="padding-right: 1px; color: #fd7e14; padding-top: 2px; padding-bottom: 2px;">مبلغ
																								القرض</td>
																							<td
																								style="padding-right: 1px; padding-top: 2px; padding-bottom: 2px;">4000
																								إلى 150000د</td>
																						</tr>
																						<tr>
																							<td
																								style="padding-right: 1px; color: #fd7e14; padding-top: 2px; padding-bottom: 2px;">مدة
																								التسديد</td>
																							<td
																								style="padding-right: 1px; padding-top: 2px; padding-bottom: 2px;">12
																								شهرا</td>
																						</tr>
																						<tr>
																							<td
																								style="padding-right: 1px; color: #fd7e14; padding-top: 2px; padding-bottom: 2px;">مصاريف
																								الملف</td>
																							<td
																								style="padding-right: 1px; padding-top: 2px; padding-bottom: 2px;">5%</td>
																						</tr>

																					</tbody>
																				</table>
																			</div>
																		</div>
																	</div>
																</div>

																<div class="panel panel-default">
																	<div class="panel-heading"
																		style="background: #d9edf7; padding-top: 2px; padding-bottom: 2px">
																		<h4 class="panel-title" style="text-align: center;">
																			<centre> <a data-toggle="collapse"
																				data-parent="#accordion" href="#collapseEight"
																				style="font-size: 11px;"> قرض استهلاكي</a> </centre>
																		</h4>
																	</div>
																	<div id="collapseEight" class="panel-collapse collapse"
																		style="background-color: #f5f5f5;">
																		<div class="panel-body">

																			<div style="padding-left: 1px; padding-right: 1px">
																				<table class="table table-bordered"
																					style="font-size: 8px">
																					<thead>
																						<tr>
																							<th width="50"
																								style="padding-right: 1px; color: #fd7e14; padding-top: 2px; padding-bottom: 2px;"></th>
																							<th
																								style="padding-right: 1px; color: #fd7e14; padding-top: 2px; padding-bottom: 2px; text-align: center">
																								قرض استهلاكي</th>
																						</tr>
																					</thead>
																					<tbody>
																						<tr>
																							<td
																								style="padding-right: 1px; color: #fd7e14; padding-top: 2px; padding-bottom: 2px;">سعر
																								الفائدة</td>
																							<td
																								style="padding-right: 1px; padding-top: 2px; padding-bottom: 2px;">6,75%
																								إلى 8,75%</td>
																						</tr>
																						<tr>
																							<td
																								style="padding-right: 1px; color: #fd7e14; padding-top: 2px; padding-bottom: 2px;">مبلغ
																								القرض</td>
																							<td
																								style="padding-right: 1px; padding-top: 2px; padding-bottom: 2px;">5000
																								إلى 500000 د</td>
																						</tr>
																						<tr>
																							<td
																								style="padding-right: 1px; color: #fd7e14; padding-top: 2px; padding-bottom: 2px;">مدة
																								التسديد</td>
																							<td
																								style="padding-right: 1px; padding-top: 2px; padding-bottom: 2px;">120
																								شهرا</td>
																						</tr>
																						<tr>
																							<td
																								style="padding-right: 1px; color: #fd7e14; padding-top: 2px; padding-bottom: 2px;">مصاريف
																								الملف</td>
																							<td
																								style="padding-right: 1px; padding-top: 2px; padding-bottom: 2px;">1%
																								/ 1,5%</td>
																						</tr>

																					</tbody>
																				</table>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													</br>
													</br>
													<div class="m-t text-righ">
														<a href="#" class="btn btn-xs btn-outline btn-primary">Info
															<i class="fa fa-long-arrow-right"></i>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>



									
								</div>
							</div>

							<!-- Share -->
							<div class="flex-s-s">
								<span class="f1-s-12 cl5 p-t-1 m-r-15"> شارك على: </span>

								<div class="flex-wr-s-s size-w-0">
									<a href="#"
										class="dis-block f1-s-13 cl0 bg-facebook borad-3 p-tb-4 p-rl-18 hov-btn1 m-r-3 m-b-3 trans-03">
										<i class="fab fa-facebook-f m-r-7"></i> Facebook
									</a> <a href="#"
										class="dis-block f1-s-13 cl0 bg-twitter borad-3 p-tb-4 p-rl-18 hov-btn1 m-r-3 m-b-3 trans-03">
										<i class="fab fa-twitter m-r-7"></i> Twitter
									</a> <a href="#"
										class="dis-block f1-s-13 cl0 bg-google borad-3 p-tb-4 p-rl-18 hov-btn1 m-r-3 m-b-3 trans-03">
										<i class="fab fa-google-plus-g m-r-7"></i> Google+
									</a> <a href="#"
										class="dis-block f1-s-13 cl0 bg-pinterest borad-3 p-tb-4 p-rl-18 hov-btn1 m-r-3 m-b-3 trans-03">
										<i class="fab fa-pinterest-p m-r-7"></i> Pinterest
									</a>
								</div>
							</div>
						</div>

						<!-- Leave a comment -->
						<div>
							<h4 class="f1-l-4 cl3 p-b-12">إترك تعليق</h4>

							<p class="f1-s-13 cl8 p-b-40">سنحافظ على خصوصية بريدك
								الإلكتروني . المرجو تعبئة كل الخانت</p>

							<form>
								<textarea
									class="bo-1-rad-3 bocl13 size-a-15 f1-s-13 cl5 plh6 p-rl-18 p-tb-14 m-b-20"
									name="msg" placeholder="..."></textarea>

								<input
									class="bo-1-rad-3 bocl13 size-a-16 f1-s-13 cl5 plh6 p-rl-18 m-b-20"
									type="text" name="name" placeholder="الإسم*"> <input
									class="bo-1-rad-3 bocl13 size-a-16 f1-s-13 cl5 plh6 p-rl-18 m-b-20"
									type="text" name="email" placeholder="البريد الإلكتروني*">

								<input
									class="bo-1-rad-3 bocl13 size-a-16 f1-s-13 cl5 plh6 p-rl-18 m-b-20"
									type="text" name="website" placeholder="الموقع الإلكتروني">

								<button
									class="size-a-17 bg2 borad-3 f1-s-12 cl0 hov-btn1 trans-03 p-rl-15 m-t-10">
									أضف تعليق</button>
							</form>
						</div>
					</div>
				</div>

				<!-- Sidebar -->

				<div class="col-md-10 col-lg-4 p-b-30">
					<div class="p-l-10 p-rl-0-sr991 p-t-70">
						<!-- Category -->
						<div class="p-b-60">
							<div class="how2 how how2-cl4 flex-s-c">
								<h3 class="f1-m-2 cl3 tab01-title">
									<strong> خدماتنا </strong>
								</h3>
							</div>

							<ul class="p-t-35">
								<li class="how-bor3 p-rl-4" style="background-color: #eeeeee">
									<a th:href="@{/hebergem.html}"
									class="dis-block f1-s-10 text-uppercase cl2 hov-cl10 trans-03 p-tb-13">
										السكن </a>
								</li>
								<li class="how-bor3 p-rl-4" style="background-color: #eeeeee">
									<a th:href="@{/santé.html}"
									class="dis-block f1-s-10 text-uppercase cl2 hov-cl10 trans-03 p-tb-13">
										الصحة </a>
								</li>
								<li class="how-bor3 p-rl-4" style="background-color: #eeeeee">
									<a th:href="@{/transport1.html}"
									class="dis-block f1-s-10 text-uppercase cl2 hov-cl10 trans-03 p-tb-13">
										النقل </a>
								</li>
								<li class="how-bor3 p-rl-4" style="background-color: #eeeeee">
									<a th:href="@{/préts1.html}"
									class="dis-block f1-s-10 text-uppercase cl2 hov-cl10 trans-03 p-tb-13">
										القروض </a>
								</li>
								<li class="how-bor3 p-rl-4" style="background-color: #eeeeee">
									<a th:href="@{/assurances.html}"
									class="dis-block f1-s-10 text-uppercase cl2 hov-cl10 trans-03 p-tb-13">
										التامين </a>
								</li>
								<li class="how-bor3 p-rl-4" style="background-color: #eeeeee">
									<a th:href="@{/bourse.html}"
									class="dis-block f1-s-10 text-uppercase cl2 hov-cl10 trans-03 p-tb-13">
										المنح </a>
								</li>
								<li class="how-bor3 p-rl-4" style="background-color: #eeeeee">
									<a th:href="@{/3omra.html}"
									class="dis-block f1-s-10 text-uppercase cl2 hov-cl10 trans-03 p-tb-13">
										العمرة </a>
								</li>
								<li class="how-bor3 p-rl-4" style="background-color: #eeeeee">
									<a th:href="@{/centre-été.html}"
									class="dis-block f1-s-10 text-uppercase cl2 hov-cl10 trans-03 p-tb-13">
										مراكز الإصطياف </a>
								</li>
								<li class="how-bor3 p-rl-4" style="background-color: #eeeeee">
									<a th:href="@{/divertissement1.html}"
									class="dis-block f1-s-10 text-uppercase cl2 hov-cl10 trans-03 p-tb-13">
										الترفيه </a>
								</li>

							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
    <style>
.panel {
	/* margin-bottom: 20px; */
	background-color: #fff;
	border: 1px solid transparent;
	/* border-radius: 4px; */
}

.navy-bg, .bg-primary {
	background-color: #efd8c2 !important;
	color: #ffffff;
}

img {
	vertical-align: middle;
	/* border-style: none;*/
}

.widget-text-box {
	padding: 20px;
	border: 1px solid #e7eaec;
	background: #ffffff;
}

element.style {
	
}

.btn:not (:disabled ):not (.disabled ) {
	cursor: pointer;
}

.btn-white {
	color: inherit;
	background: white;
	border: 1px solid #e7eaec;
}

.btn-xs {
	font-size: 0.7rem;
	padding: 0.2rem 0.4rem;
}

.btn {
	border-radius: 3px;
	/* font-size: inherit;*/
}

.btn {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	/*-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;*/
	user-select: none;
	/*border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;*/
	line-height: 1.5;
	/* border-radius: .25rem;*/
	transition: color .15s ease-in-out, background-color .15s ease-in-out,
		border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}



a {
	
	text-decoration: none;
	
}

</style>






	<style>
table {
	border-collapse: separate;
	white-space: normal;
	line-height: normal;
	/*font-weight: normal;
    font-size: medium;*/
	font-style: normal;
	color: -internal-quirk-inherit;
	/*text-align: start;*/
	border-spacing: 2px;
	font-variant: normal;
}


table table-bordered  >table {
	/* width: 100%;*/
	text-align: center;
	font-family: MyriadArabic;
	font-size: 10px;
	/* border: none;*/
}


table table-bordered  >table>tbody>tr>td {
	/* background-color: #cad7e8; */
	padding: 1px;
}
/* E-commerce */
.product-box {
	padding: 0;
	border: 2px solid #e7eaec;
}

.product-box:hover, .product-box.active {
	border: 1px solid transparent;
	-webkit-box-shadow: 0 3px 7px 0 #a8a8a8;
	-moz-box-shadow: 0 3px 7px 0 #a8a8a8;
	box-shadow: 0 3px 7px 0 #a8a8a8;
}

.product-imitation {
	text-align: center;
	padding: 90px 0;
	background-color: #f8f8f9;
	color: #bebec3;
	font-weight: 600;
}

.cart-product-imitation {
	text-align: center;
	padding-top: 30px;
	height: 80px;
	width: 80px;
	background-color: #f8f8f9;
}

.product-imitation.xl {
	padding: 120px 0;
}

.product-desc {
	padding: 20px;
	position: relative;
}

.ecommerce .tag-list {
	padding: 0;
}

.ecommerce .fa-star {
	color: #d1dade;
}

.ecommerce .fa-star.active {
	color: #f8ac59;
}

.ecommerce .note-editor {
	border: 1px solid #e7eaec;
}

table.shoping-cart-table {
	margin-bottom: 0;
}

table.shoping-cart-table tr td {
	border: none;
	text-align: right;
}

table.shoping-cart-table tr td.desc, table.shoping-cart-table tr td:first-child
	{
	text-align: left;
}

table.shoping-cart-table tr td:last-child {
	width: 80px;
}

.product-name {
	font-size: 16px;
	font-weight: 600;
	color: #676a6c;
	display: block;
	margin: 2px 0 5px 0;
}

.product-name:hover, .product-name:focus {
	color: #1ab394;
}

.product-price {
	font-size: 14px;
	font-weight: 600;
	color: #ffffff;
	background-color: #1ab394;
	padding: 6px 12px;
	position: absolute;
	top: -32px;
	right: 0;
}

.product-detail .ibox-content {
	/* padding: 30px 30px 50px 30px;*/
	
}

.image-imitation {
	background-color: #f8f8f9;
	text-align: center;
	padding: 200px 0;
}

.product-main-price small {
	font-size: 10px;
}

.product-images {
	margin: 0 20px;
}

.btn:not (:disabled ):not (.disabled ) {
	cursor: pointer;
}

.btn-primary.btn-outline {
	color: #ffffff;
}

.btn-outline {
	color: inherit;
	background-color: transparent;
	transition: all .5s;
}

.btn-primary {
	color: #fff;
	background-color: #1ab394;
	border-color: #1ab394;
}

.btn-xs {
	font-size: 0.7rem;
	padding: 0.2rem 0.4rem;
}

.btn {
	border-radius: 3px;
	font-size: inherit;
}

.btn-primary {
	color: #fff;
	background-color: #efd8c2;
	border-color: #efd8c2;
}

.btn {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
}

.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*, ::after, ::before {
	box-sizing: border-box;
}

user agent stylesheet
i {
	font-style: italic;
}

.btn:not (:disabled ):not (.disabled ) {
	cursor: pointer;
}

.btn-primary.btn-outline {
	color: #ffffff;
}

.ibox-content {
	clear: both;
}

.ibox-content {
	background-color: #ffffff;
	color: inherit;
	
}

.ibox {
	clear: both;
	margin-bottom: 25px;
	margin-top: 0;
	padding-left: 2px;
	paddind-right: 2px;
	padding: 0;
}

*, ::after, ::before {
	box-sizing: border-box;
}


</style>

<style>

.panel-body {
	padding: 4px;
}

.panel-group .panel {
	margin-bottom: 0;
	border-radius: 4px;
}

.panel-default {
	border-color: #e7eaec;
}

.panel {
	/* margin-bottom: 20px;*/
	background-color: #fff;
	border: 1px solid transparent;
	/* border-radius: 4px;*/
}

.panel-default>.panel-heading {
	color: #333;
	background-color: #f5f5f5;
	border-color: #e7eaec;
}

.panel-heading {
	color: white;
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.ibox-content h1, .ibox-content h2, .ibox-content h3, .ibox-content h4,
	.ibox-content h5, .ibox-title h1, .ibox-title h2, .ibox-title h3,
	.ibox-title h4, .ibox-title h5 {
	margin-top: 5px;
}

.panel-title {
	/* font-size: inherit;*/
	
}

h3, h4, h5 {
	/*   margin-top: 5px;*/
	font-weight: 600;
}


.fadeInRight {
	/*-webkit-animation-name: fadeInRight;*/
	animation-name: fadeInRight;
}

.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	/*margin-right: -15px;
    margin-left: -15px;*/
}


.p-lg {
	padding: 30px;
}

.navy-bg, .bg-primary {
	background-color: #efd8c2 !important;
	color: #ffffff;
}

.widget-head-color-box {
	border-radius: 5px 5px 0 0;
	/*margin-top: 10px;*/
}

.text-center {
	text-align: center !important;
}

.navy-bg, .bg-primary {
	background-color: #efd8c2 !important;
	color: #ffffff;
}

.text-center {
	text-align: center !important;
}

img.circle-border {
	border: 6px solid #FFFFFF;
	/*border-radius: 50%;*/
}

.m-b-md {
	/*  margin-bottom: 20px;*/
	
}

.rounded-circle {
	border-radius: 50% !important;
}

img {
	vertical-align: middle;
	/* border-style: none;*/
}

.widget-text-box {
	padding: 4px;
	border: 1px solid #e7eaec;
	background: #ffffff;
}


.btn-white {
	color: inherit;
	background: white;
	border: 1px solid #e7eaec;
}


</style>
	<!-- Footer -->
	<footer th:replace="home :: footer"> </footer>

	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top"> <span
			class="fas fa-angle-up"></span>
		</span>
	</div>


	<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="js/main.js"></script>
	<script src="js/clock.js"></script>
</body>

</html>