<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>خدماتنا : النقل</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
      <link rel="icon" type="image/png" th:href="@{/images/icons/logoicon.png}" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="fonts/fontawesome-5.0.8/css/fontawesome-all.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!--===============================================================================================-->
</head>

<body class="animsition" onload=display_ct()>

    <!-- Header -->
    <header th:replace="home :: header">

        <!-- -------------------  HEADER END  ------------------------------------->
    </header>

    <!-- Breadcrumb -->
    <div class="container">
        <div class="headline bg0 flex-wr-sb-c p-rl-20 p-tb-8">
            <div class="f2-s-1 news p-r-30 size-w-0 m-tb-6 flex-wr-s-c">
                <span class="text-uppercase cll2 p-r-8"> 
			 
			 <div class="f2-s-1 p-r-30 m-tb-6">
				<a th:href="@{/home.html}" class="cl9" style="font-size:15px;font-family: KacstTitle;margin-right: -32px;">الخدمات</a>
				<i class="arrow left" style="font-size:15px;font-family: KacstTitle;"> &#62 </i>
				 <span style="font-size:15px;font-family: KacstTitle;">
					النقل
				</span>
            </div>
         </div>
        </span>

        <div class="pos-relative size-a-2 bo-1-rad-22 of-hidden bocl11 m-tb-6">
            <input class="f1-s-1 cl6 plh9 s-full p-l-25 p-r-45" type="text" name="search" placeholder="بحث">
            <button class="flex-c-c size-a-1 ab-t-r fs-20 cl2 hov-cl10 trans-03">
					<i class="zmdi zmdi-search"></i>
				</button>
        </div>
    </div>
    </div>

    <!-- Content -->
    <div class="befor-body container"></div>
    <section class="bg0 p-b-140 p-t-10">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-8 p-b-30">
                    <div class="p-r-10 p-r-0-sr991">
                        <!-- Blog Detail -->
                        <div class="p-b-70">
                            <h2 style="color:black;font-family:KacstTitle; font-size:32px;margin-bottom: 20px;">
                                النقل
                            </h2>
                            <div class="wrap-pic-max-w p-b-30" style="margin-bottom: -10px;">
                                <img src="images/service33-3.jpg" alt="IMG">
                            </div>

                            <div class="p-r-10 p-r-0-sr991">

                                <div class="col-sm gr-btn-center" data-toggle="buttons">
                                    <button class="btn bt btn-warning-outline active btn1" style="background-color:#ca00ca">النقل الوظيفي</button>
                                    <button class="btn bt btn-warning-outline btn2" style="background-color:#ca00ca">النقل السككي</button>
                                    <button class="btn bt btn-warning-outline btn3" style="background-color:#ca00ca">النقل الطرقي</button>
                                    <button class="btn bt btn-warning-outline btn4" style="background-color:#ca00ca">النقل البحري</button>
                                </div>
                                <div class="separater"></div>
                                <div class="card card-shadow" id="1" style="background-color: #ebebeb">
                                    <div class="card-block text-xs-center">
                                        <div class="para1 para show" aria-hidden="true" style= "padding-right: 20px; padding-left: 20px;">
                                            <div class="detail_section">
                                                <p style="margin-top:0px;">يعد النقل من بين أهم الخدمات التي دأبت المؤسسة المحمدية على تقديمها لموظفي قطاعي العدل والسجون والمستخدمين التابعين لهما عبر المؤسسات القضائية والسجنية المتواجدة عبر التراب الوطني.
                                                </p>
                                            </div>
                                            <div class="detail_section">
                                                <h4 class="red" style="color: #ff0000;font-size:20px;font-weight: bold;"> النقل الوظيفي :</h4>
                                            </div>
                                            <p>

                                                تتوفر المؤسسة على أسطول يتكون من 110 حافلة موزعة على جل الدوائر القضائية وذلك من أجل تيسير التحاق الموظفين بمقرات عملهم في أحسن الظروف.</p>
                                            <br>
                                            <div style="padding-right: 0px;
                                    text-align: right;
                                    color: #f4650f;
                                    font-size: 20px;"><strong style="color:#f4650f;font-size:20px;font-weight: bold;">* الوثائق المطلوبة:</strong>
                                            </div>
                                            <p style="margin-top: 4px; color: #0000ff;">- بطاقة الانخراط بالمؤسسة.</p>
                                            <center>
                                                <br>
                                                <img src="images/foto/transport/img1.png" style="width:100%; max-width:562px;"><br><br>
                                            </center>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="para2 para hide completly-hidden" aria-hidden="true"  style= "padding-right: 20px; padding-left: 20px;">
                                    <div class="titre_section">
                                        <h4 class="red" style="color: #ff0000;font-size:20px;font-weight: bold;"> النقل السككي عبر قطارات الخط ONCF :</h4>
                                    </div>
                                    <!--        <strong style="color: black;font-size:20px;font-weight: bold;">النقل السككي عبر قطارات الخط ONCF : </strong></div> -->
                                    <div class="detail_section">
                                        <p>
                                            في إطار الجهود الرامية الى تحسين وتنويع الخدمات الاجتماعية التي تقدمها المؤسسة لفائدة منخرطيها في مجال النقل، تم تجديد اتفاقية الشراكة المبرمة مع المكتب الوطني للسكك الحديدية وذلك تزامنا مع انطلاق القطار فائق السرعة.
                                        </p>
                                        <p>
                                            وتروم اتفاقية الشراكة مع المكتب الوطني للسكك الحديدية تمكين أسرتي العدل والسجون ومستخدمي المؤسسات التابعة لهما، المزاولين منهم والمتقاعدين وأزواجهم وأبنائهم الصغار الذين تتراوح أعمارهم بين 4 سنوات و21 سنة ، من الاستفادة من العروض التعريفية التفضيلية مقارنة
                                            بأسعار العموم، وذلك بتخفيض تبلغ نسبته 30 في المائة من ثمن التذكرة، سواء برحلات القطار الفائق السرعة أو بقطارات الخط من الدرجة الأولى أو الثانية أو بالقطارات المكوكية، باستثناء القطارات المكوكية التي تسير خلال
                                            فترات الذروة بمحور الدار البيضاء – الرباط – القنيطرة (وتعتبر فترة الذروة بالنسبة للقطارات المكوكية هي الفترة الممتدة من الساعة السادسة إلى الساعة التاسعة صباحا ومن الساعة الثالثة إلى الساعة السابعة مساء وذلك
                                            من يوم الاثنين الى يوم الجمعة).
                                        </p>
                                        <p>
                                            كما سيستفيد من هذا العرض أبناء منخرطيها الطلبة، الذين تتراوح أعمارهم بين 16 و26 سنة عن طريق " بطاقة الطالب" التي تخول لهم الاستفادة من تخفيض 30°/° على ثمن التذكرة العمومي في وقت الحجز بالدرجة الثانية. وتتحمل المؤسسة الثمن الإجمالي لمجموع البطاقات المسلمة
                                            للطلبة.
                                        </p>
                                        <p></p>

                                        <br>
                                    </div>
                                    <br>
                                    
                                        <br><centre>
                                        <img src="images/foto/transport/img2.png" style="width:100%; max-width:562px;"><br><br>
                                        </centre>
                                        <br>
                                    
                                    <table class="idara1">
                                        <tbody>
                                            <tr>
                                                <th width="500px" style="text-align: right; color: #950095;font-size:20px;font-weight: bold;">نشور حول دعم مجال النقل السككي</th>
                                                <th width="500px" style="align-items: left;">
                                                    <a href="docs/transport1.pdf" target="_blank"><img src="images/telecharger.png" alt="img"></a>
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="separater"></div>
                                    <br>
                                </div>
                                <br>
                                <div class="para3 para hide completly-hidden" aria-hidden="true" style= "padding-right: 20px; padding-left: 20px;">
                                    <div class="titre_section">
                                        <h4 class="red" style="color: #ff0000;font-size:20px;font-weight: bold;">النقل الطرقي عبر حافلات النقل سوبراتور Supratours :</h4>
                                    </div>
                                    <div class="detail_section">
                                        <p>
                                            أبرمت المؤسسة المحمدية اتفاقية شراكة مع شركة النقل الطرقي "سوبراتور" التابعة للمكتب الوطني للسكك الحديدية، يستفيد بموجبها منخرطو المؤسسة من تخفيض في ثمن التذاكر يبلغ 30°/° من الثمن المخصص للعموم تتحمل المؤسسة على عاتقها مبلغ الفرق بين الثمن الحقيقي والثمن
                                            المخفض
                                        </p>
                                        <br>
                                    </div>

                                    <br>
                                    <div class="titre_section">
                                        <h4 class="red" style="color: #ff0000;font-size:20px;font-weight: bold;">النقل الطرقي عبر حافلات الشركة المغربية للنقل CTM :</h4>
                                    </div>
                                    <div class="detail_section">
                                        <p>
                                            أبرمت المؤسسة المحمدية اتفاقية شراكة مع الشركة المغربية للنقل CTM تمكن كافة قضاة و موظفي قطاعي العدل و السجون و مستخدمي المؤسسات التابعة لهما وذويهم من الاستفادة من تخفيضات مهمة في ثمن تذاكر السفر عبر حافلات CTM تتراوح ما بين 20 و 30°/°.
                                        </p>
                                        <br>
                                    </div>
                                    <center>
                                        <img src="images/foto/transport/img3.png" style=" width:100%; max-width: 996px;"><br>
                                    </center>
                                    <br>
                                    <table class="idara1">
                                        <tbody>
                                            <tr>
                                                <th width="500px" style="text-align: right; color: #950095;font-size:20px;font-weight: bold;">منشور حول دعم مجال النقل الطرقي</th>
                                                <th width="500px" style="align-items: left;">
                                                    <a href="docs/transport2.pdf" target="_blank"><img src="images/telecharger.png" alt="img"></a>
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="separater"></div>
                                </div>

                                <div class="para4 para hide completly-hidden" aria-hidden="true" style= "padding-right: 20px; padding-left: 20px;">
                                    <div class="titre_section">
                                        <h4 class="red" style="color: #ff0000;font-size:20px;font-weight: bold;">النقل البحري عبر شركة FRS:</h4>
                                    </div>
                                  
                                    <div class="detail_section">
                                        <p>
                                            أبرمت المؤسسة المحمدية للأعمال الاجتماعية لقضاة وموظفي العدل اتفاقية مع شركة لنقل البحري FRS قصد تمكين السيدات و السادة المنخرطين من الاستفادة من تخفيض نسبته 20% من مبلغ تذكرة العبور بالباخرة, انطلاقا من ميناء طنجة المتوسط .
                                        </p>
                                        <p><b style="color:#f4650f" ;>• للاستفادة، يجب تتبع المراحل التالية:</b></p>


                                        <p>- ملئ الاستمارة وتوقيعها؛</p>
                                        <p>- ارسالها الى المديرية الفرعية الإقليمية المتواجدة بمحل إقامة المعني بالأمر قصد التأشير عليها،</p>
                                        <p>- تقديم الاستمارة الأصلية، مرفوقة بنسخة لبطاقة الانخراط بالمؤسسة، مع الإدلاء ببطاقة الانخراط الأصلية بمقر وكالة FRS بطنجة، وذلك من أجل الاستفادة من التخفيض في ثمن التذكرة .</p>
                                        <br>
                                    </div>
                                    <div class="titre_section" align="center">
                                        <img src="images/foto/transport/img4.png" style="width:100%; max-width:562px;">
                                        <br>
                                        <br>
                                        <div style=" bottom: 8px; background-color: #dba879;display: inline-block; max-width: 190px; height: 23px;">
                                            <a href="docs/transport3.pdf" target="_blank">
                                                <div class="buttomdiv" style="width: 200px; background-color: #dba879;"><input type="button" value="تحميل الاستمارة" style="width: 200px;"></div>
                                            </a>
                                        </div>
                                        
                                        <br>
                                    </div>
                                </div>
                            </div>


                            <!-- Share -->
                            <div class="flex-s-s">
                                <span class="f1-s-12 cl5 p-t-1 m-r-15">
									شارك على:
								</span>

                                <div class="flex-wr-s-s size-w-0">
                                    <a href="#" class="dis-block f1-s-13 cl0 bg-facebook borad-3 p-tb-4 p-rl-18 hov-btn1 m-r-3 m-b-3 trans-03">
                                        <i class="fab fa-facebook-f m-r-7"></i> Facebook
                                    </a>

                                    <a href="#" class="dis-block f1-s-13 cl0 bg-twitter borad-3 p-tb-4 p-rl-18 hov-btn1 m-r-3 m-b-3 trans-03">
                                        <i class="fab fa-twitter m-r-7"></i> Twitter
                                    </a>

                                    <a href="#" class="dis-block f1-s-13 cl0 bg-google borad-3 p-tb-4 p-rl-18 hov-btn1 m-r-3 m-b-3 trans-03">
                                        <i class="fab fa-google-plus-g m-r-7"></i> Google+
                                    </a>

                                    <a href="#" class="dis-block f1-s-13 cl0 bg-pinterest borad-3 p-tb-4 p-rl-18 hov-btn1 m-r-3 m-b-3 trans-03">
                                        <i class="fab fa-pinterest-p m-r-7"></i> Pinterest
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!-- Leave a comment -->
                        <div>
                            <h4 class="f1-l-4 cl3 p-b-12">
                                إترك تعليق
                            </h4>

                            <p class="f1-s-13 cl8 p-b-40">
                                سنحافظ على خصوصية بريدك الإلكتروني . المرجو تعبئة كل الخانت
                            </p>

                            <form>
                                <textarea class="bo-1-rad-3 bocl13 size-a-15 f1-s-13 cl5 plh6 p-rl-18 p-tb-14 m-b-20" name="msg" placeholder="..."></textarea>

                                <input class="bo-1-rad-3 bocl13 size-a-16 f1-s-13 cl5 plh6 p-rl-18 m-b-20" type="text" name="name" placeholder="الإسم*">

                                <input class="bo-1-rad-3 bocl13 size-a-16 f1-s-13 cl5 plh6 p-rl-18 m-b-20" type="text" name="email" placeholder="البريد الإلكتروني*">

                                <input class="bo-1-rad-3 bocl13 size-a-16 f1-s-13 cl5 plh6 p-rl-18 m-b-20" type="text" name="website" placeholder="الموقع الإلكتروني">

                                <button class="size-a-17 bg2 borad-3 f1-s-12 cl0 hov-btn1 trans-03 p-rl-15 m-t-10">
									أضف تعليق
								</button>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Sidebar -->

                <div class="col-md-10 col-lg-4 p-b-30">
                    <div class="p-l-10 p-rl-0-sr991 p-t-70">
                        <!-- Category -->
                        <div class="p-b-60">
                            <div class="how2 how how2-cl4 flex-s-c">
                                <h3 class="f1-m-2 cl3 tab01-title">
                                    <strong>
									خدماتنا
								  </strong>
                                </h3>
                            </div>

                            <ul class="p-t-35">
                              	<li class="how-bor3 p-rl-4" style="background-color: #eeeeee">
                                    <a th:href="@{/hebergem.html}" class="dis-block f1-s-10 text-uppercase cl2 hov-cl10 trans-03 p-tb-13">
										السكن
									</a>
                                </li>
                                <li class="how-bor3 p-rl-4" style="background-color: #eeeeee">
                                    <a th:href="@{/santé.html}" class="dis-block f1-s-10 text-uppercase cl2 hov-cl10 trans-03 p-tb-13">
										الصحة
									</a>
                                </li>
                                <li class="how-bor3 p-rl-4" style="background-color: #eeeeee">
                                    <a th:href="@{/transport1.html}" class="dis-block f1-s-10 text-uppercase cl2 hov-cl10 trans-03 p-tb-13">
										النقل 
									</a>
                                </li>
                                <li class="how-bor3 p-rl-4" style="background-color: #eeeeee">
                                    <a th:href="@{/préts1.html}" class="dis-block f1-s-10 text-uppercase cl2 hov-cl10 trans-03 p-tb-13">
										القروض 
									</a>
                                </li>
                                <li class="how-bor3 p-rl-4" style="background-color: #eeeeee">
                                    <a th:href="@{/assurances.html}" class="dis-block f1-s-10 text-uppercase cl2 hov-cl10 trans-03 p-tb-13">
										التامين 
									</a>
                                </li>
                                <li class="how-bor3 p-rl-4" style="background-color: #eeeeee">
                                    <a th:href="@{/bourse.html}" class="dis-block f1-s-10 text-uppercase cl2 hov-cl10 trans-03 p-tb-13">
										 المنح
									</a>
                                </li>
                                <li class="how-bor3 p-rl-4" style="background-color: #eeeeee">
                                    <a th:href="@{/3omra.html}" class="dis-block f1-s-10 text-uppercase cl2 hov-cl10 trans-03 p-tb-13">
										العمرة
									</a>
                                </li>
                                <li class="how-bor3 p-rl-4" style="background-color: #eeeeee">
                                    <a th:href="@{/centre-été.html}" class="dis-block f1-s-10 text-uppercase cl2 hov-cl10 trans-03 p-tb-13">
										مراكز الإصطياف
									</a>
                                </li>
                                <li class="how-bor3 p-rl-4" style="background-color: #eeeeee">
                                    <a th:href="@{/divertissement1.html}" class="dis-block f1-s-10 text-uppercase cl2 hov-cl10 trans-03 p-tb-13">
										الترفيه
									</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer th:replace="home :: footer">

    </footer>

    <!-- Back to top -->
    <div class="btn-back-to-top" id="myBtn">
        <span class="symbol-btn-back-to-top">
			<span class="fas fa-angle-up"></span>
        </span>
    </div>


    <!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="js/main.js"></script>
    <script src="js/clock.js"></script>
</body>

</html>